[2017-07-13 12:43] dmzio opened #2 "Training/testing workflow"
Thanks for opensourcing this ready to use library!

In your blogpost you've mentioned initial training on OntoNotes-5. Could you reveal details about performance on that dataset and how current one relates to performance of the original Clark & Manning model?
Do you plan to release code/workflow for retraining/tuning of the model?

[2017-07-14 07:00] julien-c commented on #2
Hi @dmzio, @thomwolf can chime in, but yes we are working on releasing the (pyTorch powered) training workflow for this model.

Subscribe to get updates!

[2017-08-04 06:17] shivakarthiks opened #3 "Not able to generate coreferencing for a series of statements more than 500 words"
@julien-c
I have tried using your system for co-referencing. It was giving promising results till 500 words, but it is not able to do co-referencing above 500 words. I have tried both in online as well as hosted version. Can you please update the same for above 500 words too?

[2017-08-04 09:15] julien-c commented on #3
Yes, there is currently a hardcoded limit on the number of tokens. You have to tweak the code if you want to increase it (cc @thomwolf)

[2017-09-21 05:23] bharath45 opened #4 "Improvising time for coreferencing"
Hi julien, thanks for opensoursing such an amazing library for coreferencing

I have two questions
  -Have you released pyTorch powered training workflow yet. If yes can you please provide a link for the same.
 - Now with this current flow, coreferencing a 10kb file takes 30 seconds on my machine. Will the time for coreferncing come down drastically using a GPU.?

[2017-09-21 12:41] christfan868 opened #5 "Unable to run Demo to due to Unicode Decode Error"
When tryning to run the demo source code, this is the error I get:
**UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 5547: character maps to < undefined >**

I am currently running Python 3. 5, spaCy 1.9.0 and I have all the dependencies installed.

[2017-09-21 15:48] julien-c commented on #4
Hi @Nbharath all the credit goes to @thomwolf 👏

We haven't published the training workflow yet but it is coming in couple of weeks.

[2017-09-21 15:49] julien-c commented on #4
As for the resolution time, I'll let Thomas pitch in!

[2017-09-21 16:07] thomwolf commented on #4
Hi @Nbharath,
- I am currently cleaning up the pyTorch code and taking the occasion to refine a bit the mention detection algorithm. I will publish the code as soon as possible.
- Right now the library uses numpy to compute the matrix multiplication so it can't make use of the GPU. To put it on GPU we would also have to refactor a bit the workflow to parallelize the computation of pair scores. We

[2017-09-27 19:59] fraizier-reiland commented on #3
@shivakarthiks , if you go into algorithm.py and look at the arguments for the __init__ method for the Coref class you can see the hardcoded limit (i.e. max_dist_match=500).

You could try to increase this number to satisfy your needs but I am not sure of the implication of making that change.

[2017-10-11 05:12] rlpatsh opened #6 "Coreferencing is not working for similar input"
This seems to be a bug, I have tried it with models en, en_core_web_sm and en_depent_web_md

`from neuralcoref import Coref
import spacy

#nlp = spacy.load("en_depent_web_md")
coref = Coref()
# Example 1 : This is working !
# clusters = coref.continuous_coref(utterances=u"Phone area code will be valid only when all the below conditions are met. It cannot be left blank. It should be numeric. It can

[2017-10-13 08:40] rlpatsh commented on #5
Resolved it by changing data.py line 238 to

`        with open(name+"_vocabulary.txt", encoding="utf8") as f:
`

[2017-10-17 15:28] hate5six opened #7 "Mentions found but resolution fails"
I'm having an issue where I run coref on a piece of text and while sets of mentions are found, they do not get resolved:

[code]

Here, two mention sets are identified, but running get_resolved_utterances() fails to actually resolve them.

[2017-11-02 06:22] lavinadurgani commented on #4
Hello Thomas,

Is the pyTorch code published now ? Will the pyTorch code help to reduce the coreference resolution processing speed if executed on GPU

Regards,
Lavina

[2017-11-15 14:11] plantprogrammer opened #8 "Some Questions"
I just had a couple of questions regarding neuralcoref: Do you expect to update neuralcoref in the near future, and is there a formal API available for it?

[2017-11-16 02:28] kleinias opened #9 "installation"
`s@hello:~/code/neuralcoref$ python -m spacy download 'en'

    Downloading en_core_web_sm-1.2.0/en_core_web_sm-1.2.0.tar.gz

Collecting https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-1.2.0/en_core_web_sm-1.2.0.tar.gz
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-1.2.0/en_core_web_sm-1.2.0.tar.gz (52.2MB)
    100% |████████████

[2017-11-16 03:19] julien-c commented on #9
I see a `spacy-2.0.2` in there, but we need `spacy-1.x`

[2017-11-22 09:48] bharath45 commented on #7
can u run coref.get_mentions()

[2017-11-22 16:00] hate5six commented on #7
[code]

[2017-12-04 22:16] xinyadu opened #10 "what is the training data for this project?"
is it the same to clark and manning paper?

[2017-12-04 22:30] richcamp commented on #5
Appears to be a typo in previous:  should be line 338 that's changed.

[2017-12-08 20:09] julien-c commented on #9
Closing this as it's not related to this project

[2017-12-08 20:09] #9 closed

[2017-12-15 15:15] nodyyu89 commented on #5
Hi there, When tryning to run the demo source code, this is the error I get:

## embeddings_from_file(model_path + "static_word")
  File "C:\Users\<my python dictionary>\site-packages\neuralcoref\data.py", line 339, in load_embeddings_from_file
    for i, line in enumerate(f):
UnicodeDecodeError: 'gbk' codec can't decode byte 0xa6 in position 2463: illegal multibyte sequence

I am currently runnin

[2017-12-18 23:36] julien-c commented on #10
Yes it is. We're planning on open sourcing the model trainer soon.

[2017-12-18 23:36] #10 closed

[2017-12-19 01:40] xinyadu commented on #10
did you implement (clark & manning 2016)'s model and did you reproduced the result on conll dataset?

[2018-01-29 13:16] kleinias opened #12 "spaCy version"
As written in the readme at "If you are an early user of spacy 2 alpha --- (and there is now spacy 2.0.6 and the version won't be lower in the future, and you could adress the project by typing its proper name with big C) ---  , you can use neuralcoref with spacy 2 without any specific modification", there should be no problem with spaCy 2 using appropriate models. Instead of this iInstalling the

[2018-02-01 11:25] mihirsaxena opened #13 "Got a problem while installing"
Got this error while installing it on my virtual environment: "Permission denied: '/Library/Python/2.7/site-packages/certifi' " It also deleted my nltk files from the virtual environment. Please guide me where's the problem.

[2018-02-07 16:33] bolaft commented on #2
Hello @dmzio and @thomwolf, any update on the training code? The library is really interesting, unfortunately without the ability to train a model it'll remain English-only and many of us can't use that at all. Congrats on the lib though, it's very cool.

[2018-02-08 09:32] thomwolf commented on #13
You are right, there is currently an incompatibility with the new spacy 2 which is a bit different than the alpha version. I will update it to be compatible with spacy 2 next week.

[2018-02-08 09:33] thomwolf commented on #12
You are right, there is currently an incompatibility with spacy 2 (which is different than the alpha version I was using). I will update it to be compatible with spacy 2 next week.

[2018-02-08 14:57] Robert923 commented on #12
Awesome, thank you @thomwolf !  :-)

[2018-02-14 16:25] julien-c commented on #2
Hi @bolaft, quick question – which datasets would you use the training code on? (there are not that many coreference datasets in our experience, so we're super interested of the ones you know about)

[2018-02-14 17:19] bolaft commented on #2
Hi @julien-c, I was thinking of the ANCOR corpus [1] for French. It's > 400k words and encodes entities, their properties and anaphoric relations. Do you think it would do the trick?

[1] https://hal.archives-ouvertes.fr/hal-01016562/document

[2018-02-15 09:11] kleinias commented on #12
Your plan is really nice.
Are you going to do this this week?

[2018-02-15 12:19] thomwolf commented on #13
Ok this should be fixed, I updated the repo and the installation instruction. Can you check it is working for you now ?

[2018-02-15 12:23] thomwolf commented on #8
Yes, I expect to have some times to work on it again within 2 weeks. I will see how much I can do. Is there some particular features/doc you would be interested in?

[2018-02-15 15:46] julien-c commented on #13
Closing this as it should now be fixed, feel free to reopen otherwise

[2018-02-15 15:46] #13 closed

[2018-02-15 15:46] julien-c commented on #12
Closing this as it should now be fixed, feel free to reopen otherwise

[2018-02-15 15:46] #12 closed

[2018-02-17 14:45] kleinias commented on #12
It works, thank you!

[2018-02-19 17:12] kleinias opened #16 "Online version finds the right antecedents, but actual version does not"
The online version is working fine on the following text:
"I know that Barbara and Sandy are here. I see Barbara watching TV. I hear Sandy breathing."

https://huggingface.co/coref/?text=I%20know%20that%20Barbara%20and%20Sandy%20are%20here.%20I%20see%20Barbara%20watching%20TV.%20I%20hear%20Sandy%20breathing.

But the actual version doesn't find ennough, just Barbara. It outputs by running:

[code]

[2018-02-28 20:47] daniela-llivina opened #18 "Question"
Should neuralconf work in some language other than English?

[2018-02-28 20:48] julien-c commented on #18
Not right now, but we're working on releasing our model training code. What languages do you have in mind or do you have annotated coreference datasets available for them?

[2018-02-28 20:51] daniela-llivina commented on #18
I need conference resolution for Spanish, unfortunately I do not have an annotated dataset.

[2018-03-09 13:21] vishalvpv opened #19 "Relative pronouns"
Consider the below sentence
50 year old Male with history of alcohol abuse and hypertension who presents with emesis with blood clots.

Is relative pronoun outside the scope of coreference? How do I relate the relative pronoun 'who' to 'Male'?

Best Regards,
Vishal

[2018-03-09 15:52] thomwolf commented on #19
Hmm, I think (at least one of) the problem is that it is not a well formed sentence. So the parser can get a good parse tree. (see https://en.wikipedia.org/wiki/Well-formedness for example)

[2018-03-09 15:52] #19 closed

[2018-03-09 16:01] tgalery commented on #2
Updates on this would be interesting. It would be nice to maybe document an abstract schema for how the data should look like, so the community can write specific transformation tools to transform corpora from other languages into something that the pipeline can consume effortlessly.

[2018-03-10 23:34] eyb1 commented on #5
For search engines, error is:

    UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 626: character maps to <undefined>

Thanks for the above solution guys.

[2018-03-11 04:49] theSage21 commented on #5
I've come across files which hasve 'latin1' encodings. You can try out 'latin1' as the encoding if 'utf-8' does not fix it.

[2018-03-12 06:50] prakhar21 opened #21 "Detection Failing on Longer Sentences"
Is there any window length over which the model was trained ? It is failing with below given Input. If i reduce some words from between then it works. Looks like it is not handeling longer sentences.

**Input:** "The highest run scorer of all time in International cricket, Tendulkar took up cricket at the age of eleven, made his Test debut on 15 November 1989 against Pakistan. He is the only playe

[2018-03-15 05:47] poojasakhalkar opened #22 "Not able to import neuralcoref.coref"

[2018-03-15 06:01] #22 closed

[2018-03-15 12:30] bea-alex commented on #16
I'd be interested in resolving this issue too.  I got the same result as the previous commenter and here are the underlying scores:

{u'pair_scores': {0: {}, 1: {0: -1.8137825597308108}, 2: {0: -1.738390801732288, 1: -1.6511597972712726}, 3: {0: 6.5473994047601911, 1: -0.57869067045464151, 2: -1.6598056098030169}, 4: {0: -1.8103805461400377, 1: -1.5256500224140488, 2: -1.5399936662599227, 3: -1.69

[2018-03-15 16:08] julien-c commented on #2
Thanks for the feedback @dmzio @bolaft @tgalery.

We will be releasing the training code + associated documentation next week.

In the meantime, you can follow our progress on the training branch here: https://github.com/huggingface/neuralcoref/commits/training

[2018-03-21 10:32] annkupriyanova commented on #18
Hi! I'm interested in training your model on the coreference corpus for Russian (http://rucoref.maimbava.net). When are you planning to release the model training code?

[2018-03-21 11:31] thomwolf commented on #18
Within a week!

[2018-03-21 12:59] thomwolf commented on #18
But @annkupriyanova you should note that spaCy currently [doesn't support Russian](https://spacy.io/models/) so you will have to find another parser and tweak the project to use it.

[2018-03-23 12:11] thomwolf commented on #21
Hi @prakhar21,
We have just performed a big update of neuralcoref to version 2.0.
Please install the new version, I have just tested your example and it works and gives a coreference resolved in `The highest run scorer of all time in International cricket, Tendulkar took up cricket at the age of eleven, made tendulkar Test debut on 15 November 1989 against Pakistan. tendulkar is the only player to

[2018-03-23 12:11] #21 closed

[2018-03-23 16:24] #8 closed

[2018-03-23 16:27] julien-c commented on #18
Hi! I'm going to close this in favor of #2 so that the whole conversation around training is in the same place. Thanks!

[2018-03-23 16:27] #18 closed

[2018-03-23 16:29] julien-c commented on #2
🎉🎉 Just released v2.0 🎉🎉

Here's a blogpost detailing our work: https://medium.com/huggingface/how-to-train-a-neural-coreference-model-neuralcoref-2-7bb30c1abdfe

We can help anyone who would like to train on a new language.

Feedback appreciated.

[2018-03-29 04:32] liupoyee opened #24 "mentions to utterances"
How to match the mention word to utterance sentence ?

[2018-04-02 12:55] annkupriyanova commented on #2
How long does it take to train the model (on CPU and on GPU)?

[2018-04-02 14:36] julien-c commented on #2
About a day total on GPU

[2018-04-04 14:41] smudgekick opened #25 "How can I get the offset position of each mention returned by coref.get_mentions()"
Currently 'coref.get_mentions()' only returns a list mentions.  Ideally, it would be helpful to get a list of dictionaries returned with the mention and its offset position within the utterance (basically the string being passed in for processing).

Is there a way do this?

[2018-04-04 20:42] thomwolf commented on #25
Hi Bryan, the `Mention` class of neuralcoref is a subclass of spaCy `Span` class so you can access all the attributes of a spaCy span in the mention like offset position, length, etc.
For example: `coref.get_mentions()[0].start` will gives you the token offset for the start of the first mention.
Check spaCy Span API doc for the full list and more information: https://spacy.io/api/span#attributes

[2018-04-04 20:47] thomwolf commented on #24
Hi liupoyee, can you check my answer to Bryan in the next issue #25 ?
I think it should solve your issue as well, so let's keep all the relevant discussion in #25.

[2018-04-04 20:47] #24 closed

[2018-04-05 17:43] sbutner opened #26 "Coref.get_most_representative fails on type error"
Running the server per readme, get an error when trying the sample curl.
Running `python algorithm.py` to trigger `__main__` produces the following output.

[code]
The error when called from server is
[code]
Mention class is defined in document.py. It inherits from spacy.tokens.Span but does not implement __hash__().

[2018-04-05 19:28] sbutner commented on #26
falcon: 1.4.1
spacy: 1.8.1
numpy: 1.14.2
python: 3.5.2

On Thu, Apr 5, 2018 at 2:21 PM, thomwolf <notifications@github.com> wrote:

[2018-04-17 18:56] prakhar21 commented on #21
@thomwolf  It works with the updated 2.0
Thanks

[2018-04-19 10:12] kfkelvinng opened #28 "Release version number still stay at 0.1 for 2.0"
https://github.com/huggingface/neuralcoref/blob/2.0/setup.py#L4

Also 2.0 tag seems to be quite different and unstable. Going to post some diff

[2018-04-20 15:36] hitxujian opened #29 "about stage swich condition"
hi：
after seeing the code, the stage switch is controlled by  learning rate decrease,which is not controlled by metrics on the dev set. is this true?

  lr = decrease_lr(optim_func)
  if args.on_eval_decrease == 'next_stage' or lr <= args.min_lr:
            print("Switch to next stage")

[2018-04-24 16:24] khliu1238 opened #30 "result not matched as demo"
considering this sentence:

According to this legend, Captain James Cook and naturalist Sir Joseph Banks were exploring Australia when they happened upon the animal. They asked a nearby local what the creatures were called.

In which 'they' in the second sentence should be resolved as 'Captain James Cook and naturalist Sir Joseph Banks'. On demo site this is roughly right, but from the output of t

[2018-04-24 16:34] khliu1238 commented on #5
demo source code gone now? I didn't see any.

[2018-05-02 12:10] jh0274 opened #31 "Out of Vocabulary Words"
Hi
Firstly, what you've done looks great - thank you. Secondly I'm interested in a feature that you hint at in your 1st blog post:
 _2.We make use of recent work on word embeddings to compute embeddings for unknown words on the fly from definitions or information that you can provide (it’s very simple in fact: you can compute a word embedding for “Kendall Jenner” simply by averaging the vectors fo

[2018-05-08 09:44] 99sbr opened #32 "Cuda error"
Getting this error when running learn.py to train on GPU server-
TypeError: torch.index_select received an invalid combination of arguments - got (torch.cuda.FloatTensor, int, torch.cuda.IntTensor), but expected (torch.cuda.FloatTensor source, int dim, torch.cuda.LongTensor index)
On line "embed_words = self.drop(self.word_embeds(words).view(words.size()[0], -1))"
line 72 of model.py

[2018-05-14 17:49] negacy opened #33 "`NotADirectoryError` while trainling neuralcoref on a new dataset"
I am following the documentation to train the neuralcoref system on my own dataset. I have my dataset in CoNLL format and when I run the script `python -m neuralcoref.conllparser --path path-to-my-dataset`, I have the following error. Any suggestion please?

Traceback (most recent call last):
  File "/opt/python/3.6.3/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_sp

[2018-05-14 20:50] negacy opened #34 "Dataset preparation"
Which of the columns in the CoNLL format are required to train the system on a new dataset? Here is an example of a sentence that I have from my dataset, can someone comment please if this is an acceptable format:
![image](https://user-images.githubusercontent.com/4706017/40022711-03a507ec-5786-11e8-9168-7739a89bcda5.png)

However, with this dataset, I am having the following error message, any he

[2018-05-15 06:53] thomwolf commented on #33
Hi @negacy, the path to your dataset is probably wrong.
It should just be the path to the folder containing your data, not to the file itself (the parser will create a directory inside this data folder to host the numpy arrays created after parsing the files)

[2018-05-15 08:31] thomwolf commented on #34
Hi @negacy,
I show an example of file in the blog post detailing the training process [here](https://medium.com/huggingface/how-to-train-a-neural-coreference-model-neuralcoref-2-7bb30c1abdfe).
The main function parsing the file is `load_file` in `collparser.py which is [here](https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/conllparser.py#L119)
You should check it to see the file

[2018-05-15 08:35] thomwolf commented on #32
Hi @99sbr, which version of PyTorch and configuration are you using?

[2018-05-15 08:40] thomwolf commented on #31
Hi @jh0274,
Indeed, it is not included in the currently open-sourced version of neuralcoref.
I will see if I can add it to the next release.

[2018-05-15 08:52] thomwolf commented on #30
Humm I suspect it is a matter of quality of parsing, our demo used a spacy 1 model with a rather high parsing accuracy. I will investigate that.

[2018-05-15 08:59] thomwolf commented on #29
Hi @hitxujian,
I don't think so, it should controlled by the evaluation metric. I think the metric evaluation is just before the part you copied, see [line 222](https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/learn.py#L222)

By the way, one argument (`--on_eval_decrease`) is a switch to select between three behaviors when the evaluation metric stagnate:
- `nothing` => does nothi

[2018-05-15 09:01] thomwolf commented on #28
Hi kevin, thanks for that, I will update (a new version is coming soon actually, with huge speed up).
Do you have more information on what you mean by "unstable"?

[2018-05-15 09:01] #25 closed

[2018-05-15 09:03] thomwolf commented on #16
Hi @bea-alex, @kleinias, after trying the new version it is still seems to be the case.
My guess is that it is related to a different spacy model used in our production setup (we selected a large spacy 1 model) with a higher parsing accuracy.
I will investigate further and keep up updated.

[2018-05-15 12:39] #29 closed

[2018-05-15 14:15] jh0274 commented on #31
Thanks a lot!

[2018-05-15 14:45] negacy commented on #33
Right, the problem was with the path. Thanks. Negacy.

[2018-05-15 16:40] negacy commented on #34
Hi @thomwolf,
I prepared my dataset similar to the CoNLL format, but since some of the information are missing, for example column number 6, I was wondering if all the columns are required in order to continue training. Thanks. Negacy.

[2018-05-15 17:05] kfkelvinng commented on #28
Taking the example text from Winograd Challenge `When they had eventually calmed down a bit, and had gotten home, Mr. Farley put the magic pebble in an iron safe. Some day they might want to use it, but really for now, what more could they wish for?`

SpaCy 2.0 may have broken the mention detection for `magic pebble`

[code]

`spacy==1.8.2` and `en_core_web_sm-1.2.0`
`[they, a bit, Mr. Farley, Far

[2018-05-16 08:41] thomwolf commented on #16
Ok more investigation indicated it's indeed an issue with the accuracy of the spacy model you use.

Parsing the sentence `I hear Sandy breathing.` with the default spacy 2 `en_core_web_sm` model incorrectly label `Sandy` as an ADJ.

The most simple solution is to use the larger model [en_core_web_lg](https://spacy.io/models/en#en_core_web_lg) which label this example correctly.

[2018-05-16 08:46] thomwolf commented on #30
Further investigations confirmed that it is indeed an issue with the accuracy of the spacy model you use like #16.
Here also the most simple solution is to use the larger model [en_core_web_lg](https://spacy.io/models/en#en_core_web_lg) which label this example correctly.

Currently spacy model is hard coded to `en_core_web_sm`, you can overcome it by passing an nlp object to coref constructor. In

[2018-05-19 16:18] memoer6 opened #35 "size mismatch"
Hi

Thanks very much for sharing the library. It's amazing

I think there is a size mismatch between the input features and the pre-trained weights posted on this site for the input layer

The pre-trained weights, stored in neuralcoref/weights folder of this repository, have a size of (  1000 x 668 ) for single mentions, and ( 1000 x 1364 ) for pair mentions in layer 0

However, the dimension of i

[2018-05-21 05:03] arunzz commented on #4
Hello

First of all, thanks for the nice library.
The time taken is very long for an average size content. The number of mentions detected are more and we cut short some of the accepted entities and some grammar rules but still the time is too long.
Any tips on how can we reduce it? Please let know.

[2018-05-21 07:17] thomwolf commented on #4
Yes, just wait for the release of version 0.3 (hopefully) next week.
Version 0.3 will be about 20 times faster :-)

On Mon, May 21, 2018 at 7:03 AM, Arun Kumar <notifications@github.com>
wrote:

[2018-05-21 07:52] arunzz commented on #4
Glad to know. I will keep waiting then. :)

[2018-05-25 08:17] 99sbr commented on #32
@thomwolf  pytorch v0.3

[2018-06-01 08:50] theSage21 opened #37 "Getting cluster ids per word in original text"
First, Thank you for the work :+1: It has made life a lot easier.

In the usage of `coref.get_resolved_utterances()`, I was wondering if there is some way of generating a mapping saying that each word in the original text belongs to which cluster(s). Maybe like:

John | used |  to | work |  for | the |  army | . | He| was | an | epitome | of | discipline
----|----|----|----|----|----|----|----|---

[2018-06-01 11:39] thomwolf commented on #37
Hi Arjoonn,
Yeah, it will be a lot easier (and faster) in the new version that is coming next week or so, but for now I think something like the following should work (haven't tried it):
[code]

[2018-06-04 09:54] theSage21 commented on #37
This worked with a little tweaking `clusters, _ = coref.one_shot_coref(text)`. Thanks.

[2018-06-04 09:54] #37 closed

[2018-06-05 19:54] dlindbe commented on #4
Is there a new ETA for the cython rewrite?

[2018-06-05 22:18] thomwolf commented on #4
Yes, it should be this week, the code pretty much ready (see extension branch), I just have to finish a few edge cases and functions and write the doc (it's now integrated as a spaCy extension so the interface is a bit different). It'll be 50 to 100 times faster on a large doc.

[2018-06-06 02:39] theSage21 commented on #4
any way we can help out?

[2018-06-08 16:23] theSage21 opened #39 "404 on spacy models with v0.3"
Issuing `pip install URL` where url is https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_lg-3.0.0/en_coref_lg-3.0.0.tar.gz leads to an error.

[code]

I know it's very early and so I might have run this when the models were not yet on the servers. If that's the case I can wait. If not, is there something I can do to fix this?

[2018-06-08 18:11] thomwolf commented on #39
😇Yeah the large model is currently being uploaded and it take a while because it's quite big.
Try the medium one in the meantime ?

[2018-06-08 19:41] thomwolf commented on #39
Ok the large model should be up. Please re-open the issue if you have any trouble.

[2018-06-08 19:41] #39 closed

[2018-06-09 21:46] cclauss opened #41 "28 undefined names"
flake8 testing of https://github.com/huggingface/neuralcoref on Python 2.7.15

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-06-10 19:56] piyushk95 opened #42 "Failed building wheel for en-coref-sm"
creating build\temp.win-amd64-3.6\Release\en_coref_sm
  C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.14.26428\bin\HostX86\x64\cl.exe /c /nologo /Ox /W3 /GL /DNDEBUG /MD -IC:\Users\Piyush\Anaconda3\include -IC:\Users\Piyush\AppData\Local\Temp\pip-req-build-hvs3wmbv\include -IC:\Users\Piyush\Anaconda3\lib\site-packages\numpy\core\include -IC:\Users\Piyush\Anaconda3\

[2018-06-11 12:30] thomwolf commented on #41
You are right, these scripts are from the [CoNLL 2012 task website](http://conll.cemantix.org/2012/data.html) and are a bit out-dated now.

be5099ed881bd282e1f9cc4a1681bfb470b86828 switch to the new script of Allen NLP.

[2018-06-11 12:30] #41 closed

[2018-06-11 14:52] thomwolf commented on #42
Humm I think I see where it's coming from.
Let me just setup a Windows install to test the fix and I will update the models.

[2018-06-12 00:47] Skulsta opened #43 "Command "python setup.py egg_info" failed with error code 1"
I'm not able to install it. Any suggestion is much appreciated.

$ pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_lg-3.0.0/en_coref_lg-3.0.0.tar.gz
Collecting https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_lg-3.0.0/en_coref_lg-3.0.0.tar.gz
  Downloading https://github.com/huggingface/neuralcoref-models/releases/download/en_cor

[2018-06-12 21:04] colingoldberg opened #45 "A next step - recognizing more than just nouns"
Hi,

I tried the following sentence on the demo page "when a notification is received that a driver is available, update that fact in the database".

The demo linked "that fact" to "a driver", while I was hoping it would link "that fact" to "a driver is available".

What would it take to enable this? I hope you see this as a possibility in the not too distant future.

Colin Goldberg

[2018-06-13 10:28] pramod2157 commented on #4
@thomwolf  when the Cython version will be released?

[2018-06-13 12:10] thomwolf commented on #4
It is released! I have updated the readme!

[2018-06-13 12:10] #4 closed

[2018-06-13 15:07] humehta opened #46 "Attribute Error"
Code:
import spacy
import en_coref_md

nlp = en_coref_md.load()
doc = nlp(u'My sister has a dog. She loves him.')

doc._.has_coref
doc._.coref_clusters

Error:

AttributeError                            Traceback (most recent call last)
<ipython-input-4-03395db119b1> in <module>()
      2 import en_coref_md
      3
----> 4 nlp = en_coref_md.load()
      5 doc = nlp(u'My sister has a dog. She loves

[2018-06-13 18:01] theSage21 opened #47 "Segmentation fault (core dumped)"
`Python 3.6.2` and `neuralcoref-3.0`, `en_coref_sm` the following code produces a segfault.
[code]

What can I do to help?

[2018-06-13 18:43] maxindelicato commented on #47
I can confirm the issue too.

[2018-06-13 19:41] thomwolf commented on #47
Can you give me some additional information:
What system are you using? Windows/Mac/linux
Does it work on other examples?

[2018-06-13 20:07] thomwolf commented on #45
Yes, thanks for sharing Colin.
I guess this is a matter of retraining a bit the model on your data. That's the next step planned so I hope we can make this kind of things work. I plan to come back refactoring the training and make it more compatible with a good annotator like [prodigy](prodi.gy) within 1-2 months. Do you have a public dataset you would like to annotate as a test with us when we'll

[2018-06-13 20:08] thomwolf commented on #46
Thank I will have a look. I think this is related to Arjoonn's PR #44 .

[2018-06-13 20:19] humehta commented on #46
Thanks!
Please do let me know!!!

[2018-06-13 20:40] maxindelicato commented on #47
Same exact versions of Python, neuralcoref, and model as @theSage21. In addition, I'm on Ubuntu 16.04. It works seemingly intermittently. I can get other examples with some digging (I'm currently parsing a large file, sentence by sentence).

[2018-06-13 20:43] thomwolf commented on #47
Can you share the file (or a part of it that doesn't work) with me? For example at thomas[at]huggingface[dot]co?

[2018-06-13 21:12] colingoldberg commented on #45
Thanks for responding. I don't have a public dataset that you could use - I have not reached that level of sophistication. But I do look forward to the growing sophistication of this tool - over time.

[2018-06-14 01:07] theSage21 commented on #47
My ubuntu version is at 18.04 LTS.

In addition I'm parsing [SQuAD 2.0](https://rajpurkar.github.io/SQuAD-explorer/) as the dataset. Download link is [here](https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json)

A sample script to generate text which causes segfault

[code]

This will print the last text which segfaulted. you'll have to run it again to find others though.

[2018-06-14 09:43] pramod2157 commented on #4
Just tried running it on multiple instances, it works amazing. Thanks @thomwolf

[2018-06-14 10:23] Praveenabiginfo opened #48 "NeuralCoref-3.0 can't load the new spacy model"
I couldn't load the spacy model en-coref-sm. I have installed both neuralcoref-3.0 and en-coref-sm by downloading and running the setup.py even I tried the pip install for both. Once the installation completed when tried to load the spacy model it throws the below exception.

Traceback (most recent call last):
  File "/home/extraction/CoreferenceResolver.py", line 5, in <module>
    from neuralcor

[2018-06-14 10:33] arunzz commented on #4
It gives an error while loading the new model saying unicode expected not char in line import neuralcoref.

Can you pls help

[2018-06-14 21:20] petermartigny commented on #47
I have the same issue on OS X 10.13.4, using python3.6.4, neuralcoref-3.0 and en_coref_md.
After removing the first token ("Although") of the given error sentence it works normally.

From my side I first noticed the error message when using "As" as a first token:

Segmentation fault: 11

[2018-06-18 07:51] alloplastic opened #51 "model dependency on 'neuralcoref'?"
The models appear to have a dependency on a "neuralcoref" module.  Should this be installed in addition to a model such as "en-coref-lg"?

I ask due to the following error I'm seeing when running nueralcoref inside a Docker container.

In the Dockerfile, I run:

`RUN pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_lg-3.0.0/en_coref_lg-3.0.0.tar.gz`

Then, i

[2018-06-18 08:10] theSage21 commented on #51
This might be related to https://github.com/huggingface/neuralcoref/pull/44

[2018-06-18 08:35] thomwolf commented on #51
Yes, I am on it now!

[2018-06-18 09:14] thomwolf commented on #48
hi @Praveenabiginfo, can you give me some information on your setup. Are you under windows, linux or mac and which version of python / environment manager you are using ?

[2018-06-18 09:17] Praveenabiginfo commented on #48
I am using Ubuntu 14.10. Python version is 2.7

On Mon, Jun 18, 2018 at 2:44 PM, thomwolf <notifications@github.com> wrote:

--
Regards,
Praveena .M

[2018-06-18 10:28] theSage21 commented on #48
Under neuralcoref 3.0 is ` from neuralcoref import Coref` still working? I was reading your traceback and from there it appears that you're importing it using that statement.
@Praveenabiginfo does
[code]
solve your problem/work as expected?

[2018-06-18 11:03] Praveenabiginfo commented on #48
With the import statement i got the below error:

Traceback (most recent call last):
  File "/home/extraction/CoreferenceResolver.py", line 87, in <module>
    nlp = spacy.load('en_coref_sm')
  File "/usr/local/lib/python2.7/dist-packages/spacy/__init__.py", line 15,
in load
    return util.load_model(name, **overrides)
  File "/usr/local/lib/python2.7/dist-packages/spacy/util.py", line 114, in
lo

[2018-06-18 13:35] thomwolf commented on #48
I am uploading updated versions of the models (`en_coref_sm` is up, the others are still currently uploading) which should work with the original readme instructions (fixed the install scripts).

[2018-06-18 13:38] kyoungrok0517 opened #52 "ValueError: [E090] Extension 'has_coref' already exists on Doc. To overwrite the existing extension, set `force=True` on `Doc.set_extension`."
Hi, I see the following error when I do `nlp = spacy.load('en_coref_sm')` in dask partition. Any compatibility issue with dask?

[code]

[2018-06-18 13:46] thomwolf commented on #52
I don't know how dask is using neuralcoref. Did you add this integration? If not I guess the best would be to ask the dask team, maybe?

[2018-06-18 13:48] thomwolf commented on #51
I am uploading updated versions of the models (`en_coref_sm` is up, the others are currently being uploaded) in which I fixed the install scripts.
They should work with the original readme instructions.
You can try to download and install them (like before: `pip install MODEL_URL`).

[2018-06-18 13:48] thomwolf commented on #43
I am uploading updated versions of the models (`en_coref_sm` is up, the others are currently being uploaded) in which I fixed the install scripts.
They should work with the original readme instructions.
You can try to download and install them (like before: `pip install MODEL_URL`).

[2018-06-18 13:48] thomwolf commented on #46
Ok, I am uploading updated versions of the models (`en_coref_sm` is up, the others are currently being uploaded) in which I fixed the install scripts.
They should work with the original readme instructions.
You can try to download and install them (like before: `pip install MODEL_URL`).

[2018-06-18 14:40] kyoungrok0517 commented on #47
I experience the same problem. Hope to see this solved.

[2018-06-18 14:45] thomwolf commented on #52
I think it does.

Normally this error arise when you initiate several time the NeuralCoref pipeline object as the extension are added globally and not just on a particular instance (https://spacy.io/usage/processing-pipelines#custom-components-extensions).

This error is here to prevent namespace collision on the extension attributes from several pipelines modules that would add attributes with th

[2018-06-18 14:46] thomwolf commented on #47
I am working on it

[2018-06-18 14:52] kyoungrok0517 commented on #52
Seems that works. Thanks!

[2018-06-18 14:52] #52 closed

[2018-06-18 19:06] humehta commented on #46
Okay thanks!

[2018-06-18 21:21] humehta commented on #46
ALso getting
Failed building wheel for en-coref-sm error when running pip insall <Model Url>

[2018-06-19 02:43] alloplastic commented on #51
Thanks!  I verified that I am able to load the "en_coref_sm" model successfully.

Unfortunately, I think one or both of the other models may not have uploaded correctly.  I get the following in a browser when I enter the URL for the large model (https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_lg-3.0.0/en_coref_lg-3.0.0.tar.gz).

[code]

(Not a blocking issue for me at

[2018-06-19 06:20] thomwolf commented on #46
Hi @humehta, which version of python are you using ? Are you under mac/linux/windows? Are you using a virtual environment (virtualenv or conda) ?

[2018-06-19 07:32] kimikadze opened #53 "ValueError: Extension 'has_coref' already exists on Doc"
I am getting this spaCy ValueError: [E090] when loading the neuralcoref model. I installed en_coref_sm and en_coref_md just now via pip, and am using the latest spaCy version. I am not using virtualenv and I am on Mac. Could you help me figure out what to do with this error?

`---------------------------------------------------------------------------
ValueError                                Trac

[2018-06-19 08:28] kimikadze commented on #53
I reinstalled everything one more time and it works.

[2018-06-19 08:28] #53 closed

[2018-06-19 08:40] Praveenabiginfo commented on #48
I did a pip install of the downloaded new spacy model using the below
command

pip install en_coref_sm-3.0.0.tar.gz

The console says Successfully build en-coref-sm. But I am not seeing any
folder inside /usr/local/lib/python2.7/dist-packages. Why??

On Mon, Jun 18, 2018 at 7:05 PM, thomwolf <notifications@github.com> wrote:

--
Regards,
Praveena .M

[2018-06-19 10:18] Praveenabiginfo commented on #48
Hi,

I removed all my old en-coref-sm folders from
/usr/local/lib/python2.7/dist-packages/ and installed the en-coref-sm
freshly using the setup.py first. It creates some en-coref-sm_egg.info kind
of folder only in the above location.

So I removed the created folder and tried with pip install
<en-coref-sm.tar.gz> file name. This says Successfully built en_coref_sm
but didn't created any folders i

[2018-06-19 10:20] thomwolf commented on #47
Thanks to everyone for helping here and giving examples (in particular @petermartigny and @theSage21).

I think the segfaults bugs are now fixed as well as the install scripts of the models. I am uploading new models (`sm` and `md` are already up, `lg` is still uploading). You can try them (just follow the install instructions of the readme).

There should be no need to install NeuralCoref (or eve

[2018-06-19 12:11] thomwolf commented on #48
Hi @Praveenabiginfo, I released a set of updated models just this morning. Can you try them instead of the old ones? I tested them on Python 2.7 and 3.6. See my last post in issue #47 for details.

[2018-06-19 12:13] Praveenabiginfo commented on #48
I tried with the new model only. en_coref_sm

On Tue, Jun 19, 2018 at 5:41 PM, thomwolf <notifications@github.com> wrote:

--
Regards,
Praveena .M

[2018-06-19 12:16] thomwolf commented on #48
Try to download them again please

[2018-06-19 12:21] Praveenabiginfo commented on #48
I am trying in a different machine which doesn't have neuralCoref or this
coref_sm before
Why the below error??

x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall
-Wstrict-prototypes -fno-strict-aliasing -D_FORTIFY_SOURCE=2 -g
-fstack-protector-strong -Wformat -Werror=format-security -fPIC
-I/usr/include/python2.7 -I/home/yarnuser/Coref/en_coref_sm-3.0.0/include
-I/usr/include/python2.7

[2018-06-19 12:29] thomwolf commented on #2
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:29] #2 closed

[2018-06-19 12:29] thomwolf commented on #3
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:29] #3 closed

[2018-06-19 12:29] thomwolf commented on #5
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:29] #5 closed

[2018-06-19 12:29] thomwolf commented on #6
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:29] #6 closed

[2018-06-19 12:30] thomwolf commented on #7
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:30] #7 closed

[2018-06-19 12:30] thomwolf commented on #16
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:30] #16 closed

[2018-06-19 12:30] thomwolf commented on #26
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:30] #26 closed

[2018-06-19 12:30] thomwolf commented on #28
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:30] #28 closed

[2018-06-19 12:30] thomwolf commented on #30
We are now on release v3.0 so I am closing this old issue.
Feel free to open it again (or a new one) if you are experiencing some issues with the new release.

[2018-06-19 12:30] #30 closed

[2018-06-19 12:32] thomwolf commented on #31
Couldn't easily integrate this features in the new release which is tightly integrated with spaCy pipeline but I hope we cant get it in for the next release. Will keep you tuned.

[2018-06-19 12:35] thomwolf commented on #43
I am gathering the feedback on the updated version of the models I just uploaded in #47.
Please mention issues with these new models there or open a new issue if needed.

[2018-06-19 12:35] #43 closed

[2018-06-19 13:06] thomwolf commented on #42
Hi @piyushk95, the problem should now be solved (it is working on my Windows install).

I have uploaded updated models. You just have to re-download the model and install it again.

The quickest way to install a model is `pip install MODEL_URL` in a clean environment and then use them with
[code]

Please tell me if there is an issue.

[2018-06-19 13:28] mfdeux opened #55 "Spacy pipeline component"
Is there a reason why the suggested way to load neuralcoref is through the spacy load method ("nlp = spacy.load('en_coref_md')") instead of through, what appears to be the recommended api for adding extensions as pipeline methods? https://spacy.io/usage/processing-pipelines.  I see that neuralcoref is loaded this way in the cli.  Doesn't the spacy load method place restrictions on how the neuralco

[2018-06-19 13:43] thomwolf commented on #55
Well you can also do this method but here is the story:
The spaCy's instructions are nice for pipelines extensions without training weights. In our case however, it means you have to first download the weights and the extensions (that was the process in the previous versions of NeuralCoref but it's was bit cumbersome for the user) and then you have to load the coref extension and then populates it

[2018-06-19 13:46] theSage21 commented on #47
I can verify that the entire SQuAD dataset passes through without problems.

Super fast too. :smile:

Thanks for your work @thomwolf

[2018-06-19 13:46] #47 closed

[2018-06-19 13:48] mfdeux commented on #55
Got it, thanks!

[2018-06-19 13:48] #55 closed

[2018-06-19 14:00] kyoungrok0517 commented on #47
Mine works too. Thanks!

[2018-06-19 14:42] d99kris opened #56 "AssertionError when loading model in Ubuntu"
Hi,
Firstly, thanks for the work on neuralcoref, it seems like a very useful extension to spaCy.

I successfully installed the neuralcoref model using:
```sudo pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz```

But when I try to use it / load the model, like this:
[code]

I'm getting the following error:
[code]
(Also getti

[2018-06-19 15:27] thomwolf commented on #56
That's a bit strange. What is also strange it that spaCy's errors messages are more explicits in the latest version. Can you try updating spaCy maybe?

The best would be to create a clean virtual environment using conda or virtual env, and install the model in this environment. That would give you the latest spaCy and a clean version of neuralcoref at the same time.

[2018-06-19 16:12] humehta commented on #46
I am using Python 3 on windows and using conda.

[2018-06-19 20:41] thomwolf commented on #46
I have updated the models again. Can you try to download and install again the one you use? (see my last comment in #47 )

[2018-06-19 20:48] humehta commented on #46
pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz

still gives me this error::::

 Failed building wheel for en-coref-sm
  Running setup.py clean for en-coref-sm
Failed to build en-coref-sm
anaconda-project 0.8.2 requires ruamel_yaml, which is not installed.
Installing collected packages: en-coref-sm
  Running setup.py instal

[2018-06-19 20:52] thomwolf commented on #46
Can you try following the windows install instructions of spaCy that are here: https://spacy.io/usage/#source-windows ? (Install a version of the Visual C++ Build Tools or Visual Studio Express that matches the version, etc ...)

[2018-06-19 21:09] humehta commented on #46
Okay I'll try it

[2018-06-19 21:46] humehta commented on #46
Worked thank you!!!

[2018-06-19 21:46] #46 closed

[2018-06-19 21:49] humehta opened #57 "Extension 'has_coref' already exists on Doc."
My code:

import spacy
import en_coref_sm

nlp = en_coref_sm.load()
doc = nlp(u'The lungs are located in the chest.They are conical in shape.')

print (doc._.has_coref)
print (doc._.coref_clusters)

Hey I ran into the following error when I inputted my own sentence::::

ValueError                                Traceback (most recent call last)
<ipython-input-3-cd9dab4c3fc0> in <module>()
      2

[2018-06-19 22:22] humehta commented on #57
If I restart the or reload the program it works fine for the first time and gives this error the second time I execute it!!

[2018-06-20 06:53] thomwolf commented on #57
Indeed, that arise when you do several successive `en_coref_sm.load()` (see my longer discussion in #52 ). You can try to load the model only once and pass around the nlp object to fix it for now.
This case seems to be quite common so I will add something to fix it. I keep you updated.

[2018-06-20 10:15] theSage21 opened #58 "Token level coref_clusters access raise exceptions sometimes"
[code]

Raises an error.

[code]

This only happens sometimes (for example with the text given above).

[2018-06-20 13:33] thomwolf commented on #57
Ok, I have updated the models, it should be fixed now. Please try the new model and tell me if it doesn't for you.

[2018-06-20 13:59] d99kris commented on #56
Thanks a lot! I should've tried that before reporting the issue. I set up a clean virtualenv and then installed the stuff using:
[code]
After that everything works fine! I'm not sure what fixed it, but probably getting the latest spaCy did the trick. Thanks again for the help.

[2018-06-20 13:59] #56 closed

[2018-06-20 14:04] theSage21 commented on #58
I'm sorry. I should have included that.
Ubuntu 18.04, Python 3.6.2

[2018-06-20 16:18] humehta commented on #57
Okay i'll try it!!!

[2018-06-20 16:46] humehta commented on #57
It still gives me the same error when I try executing the second time.

[2018-06-21 11:15] BBCMax opened #59 "Unable to import modules"
Hi,

I get the following error when I try to run either of the simple examples in your README file:

  File "/Users/maximild/src/MaxQA/src/test.py", line 1, in <module>
    import en_coref_md
  File "/Users/maximild/anaconda3/lib/python3.6/site-packages/en_coref_md/__init__.py", line 6, in <module>
    from en_coref_md.neuralcoref import NeuralCoref
  File "/Users/maximild/anaconda3/lib/python3.6/

[2018-06-22 09:22] BBCMax commented on #59
I tried downgrading spaCy to version 2.0.0 and got a slightly different value error

[2018-06-22 11:32] vrian opened #60 "Using OntoNotes 5.0 to generate coNLL files"
**Description**
I am currently stucked at the "Get the data" section for training the neural coreference model. As a newbie, I have little understanding of converting the skeleton files to conll files. Here are the commands specified in the guide:

`skeleton2conll.sh  -D [path_to_ontonotes_train_folder] [path_to_skeleton_train_folder]
skeleton2conll.sh  -D [path_to_ontonotes_test_folder] [path_to_

[2018-06-22 19:58] AYEG commented on #59
I think i also experienced that problem when I tried upgrading from 2.0 in 3.0 in another environment. in another clean virtual environment spacy keeps telling me I can't find the module and if I try to import it direcly it tells me "ImportError: cannot import name 'load_model_from_init_py'"

[2018-06-22 20:32] AYEG commented on #59
Did an extra run to check if interpreter and right pip was used within conda and got the same message: "ValueError: spacy.strings.StringStore has the wrong size, try recompiling. Expected 88, got 112"

[2018-06-24 10:54] blackeagle01 opened #61 "Can't detect 'former' and 'latter' as potential references."
In sentences like:

I like chicken and cheese. Although, I like the former better.

The word former is referencing to chicken but the system is unable to detect any coreference.

[2018-06-25 07:10] thomwolf commented on #61
That's an interesting problem, thanks.
So here one issue is that `the former` is not even detected as a potential mention as it is an adjective used as a noun and not a noun or pronoun in it-self. Linguistically it's a bit complex to handle.
I will give it a look next time I am working on the model it-self.

[2018-06-25 07:15] thomwolf commented on #60
Hi @vrian,
Can you try to follow the instructions and scripts from this page: http://cemantix.org/data/ontonotes.html
I think they are more up to date than the shared task ones (I will update the readme).
There is an example on how to use `skeleton2conll.sh`.

[2018-06-25 07:32] thomwolf commented on #59
Hi @BBCMax and @AYEG,
I can't reproduce your error with the latest spaCy and neuralcoref models.
Two questions:
- are you on windows/mac/linux ?
- do you have an error when you use `en_coref_sm`?

[2018-06-25 07:37] thomwolf commented on #57
Hi @humehta, can you execute the following script and tell me what it displays:
[code]

If  you have the latest version of neuralcoref installed, it should print something like:
`if not Doc.has_extension('huggingface_neuralcoref'):`

[2018-06-25 09:10] BBCMax commented on #59
Hey!
I am running this on a mac, and I had the same error with `en_coref_sm`.

However I managed to get this working yesterday with the most recent version of spaCy and neuralcoref models (and `en_coref_md`). I had to do a fresh install of spaCy, its models, and neuralcoref - but I can't explain what would have changed in this process. Sorry for the confusion!

[2018-06-25 10:37] AYEG commented on #59
Hi, yes also running on a mac and was unable to use en_coref_sm or en_coref_md inside newly created conda environments, tried different versions of spacy.

I gave it another try just now to see,
 I created a conda environment, activated it..

During Pip install I get two red lines
[code]

when i try to run, when it loads the model into spacy or when I import the module directly I get:

[2018-06-25 11:17] thomwolf commented on #59
Interesting, thanks.
Maybe the conda version of spaCy is older than the pip version.
Can you try `pip install spacy`instead of conda in a clean environment?

[2018-06-25 11:51] BBCMax commented on #59
I did this in a clean environment via pip initially..

[2018-06-25 12:35] AYEG commented on #59
Thank you, It is working and it is quick! Amazing work

[2018-06-25 12:45] thomwolf commented on #59
Happy to hear that.
By the wa, you don't even need to install spaCy before neuralcoref, the recommended way to install NeuralCoref with conda (assuming `MODEL_URL` contains the NeuralCoref model URL) :
[code]

[2018-06-25 16:20] humehta commented on #57
Yes it gives me the following line:
if not Doc.has_extension('huggingface_neuralcoref'):

ALso you have imported the wrong model

[2018-06-26 06:59] sarthakchakravarty opened #62 "Error while running server.py in examples"
I am trying to run the server.py file in the examples and I am getting the following error.

[code]

I am using Ubuntu 16.04 and python3

[2018-06-26 17:02] theSage21 commented on #58
Ok. So this happens whenever there's no actual coref in the text.

[code]

Could be because of https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/neuralcoref.pyx#L802

I don't know enough about packaging and cython to verify if this is indeed the problem. My changes are not picked up by cython (?). If it is the issue, I'll be happy to put in a pull request.

[2018-06-26 19:50] humehta commented on #57
Hey @thomwolf  any updates?

[2018-06-26 20:19] thomwolf commented on #57
Well I must say I have no idea what happening on your system. I can't seems to reproduce this bug with the latest version that you seems to have too (the one that says `if not Doc.has_extension('huggingface_neuralcoref'):`).

Can you give me a detailed walk-thought of all the steps to reproduce the bug?

[2018-06-26 21:18] humehta commented on #57
I try running it on my jupyter notebook the first time I run and it runs successfully but when I edit the sentence or in fact run it the second time it gives the above error.

[2018-06-26 21:18] humehta commented on #57
@thomwolf

[2018-06-26 23:43] kubicki14 opened #63 "Help: Can't reproduce demo"
Hey Thomas! First and foremost I wanted to say that you are amazing and this is great work!

My question pertains to how your demo website model is running, in comparison to my local copy.
(https://huggingface.co/coref/)

I have a line of text that has nouns and pronouns in the second sentence, and your demo is correctly making an association! However when I use the en_coref_md pre-trained spacy m

[2018-06-27 06:54] thomwolf commented on #57
can you show me a picture or a detailed script of what command you are running?

[2018-06-27 06:56] thomwolf commented on #63
Hmm the site is running an older version of NeuralCoref (v1 in fact) with spaCy 1 so there are indeed so differences.
Two things:
- have you tried with `en_coref_lg`?
- can you give me an example of sentence and coref that work on the demo and not with your version?

[2018-06-27 10:18] Praveenabiginfo commented on #48
Today I again tried in a different machine which doesn't even have the spacy.
I installed spacy and then installed spacy model "sm" and then installed this new model of coref "sm" and  installed Cython and did that steps from github specified in the document. All went well. But when I tried to load the new coref model again I got the same error.. Below is that error.

Traceback (most recent call l

[2018-06-27 12:06] Praveenabiginfo commented on #48
Why this error??

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/spacy/__init__.py", line 19, in load
    return util.load_model(name, **overrides)
  File "/usr/local/lib/python2.7/dist-packages/spacy/util.py", line 115, in load_model
    return load_model_from_package(name, **overrides)
  File "/usr/local/lib/python2.7/dist-

[2018-06-27 12:36] linkwithkk opened #64 "AttributeError: coref_clusters"
Win 10
spacy==2.0.8
neuralcoref==3.0
en-coref-lg==3.0.0

I get the following error when I run the demo code.

**************************************************************
doc = nlp(u'My sister has a dog. She loves him.')
Traceback (most recent call last):

  File "<ipython-input-11-2b2717409135>", line 1, in <module>
    doc = nlp(u'My sister has a dog. She loves him.')

  File "D:\anaconda3\lib

[2018-06-27 12:40] thomwolf commented on #59
@BBCMax if you still have the problem try reinstalling a clean version of NeuralCoref like this:
[code]

[2018-06-27 12:41] thomwolf commented on #57
Oh another idea, maybe try reinstalling a clean version of NeuralCoref without using the cached version by using this command:
[code]

[2018-06-27 13:33] BBCMax commented on #59
Thanks @thomwolf - all ok now, but I hope it can help someone else suffering from similar issues!

[2018-06-27 14:12] thomwolf commented on #59
Thanks for the heads up

[2018-06-27 14:12] #59 closed

[2018-06-27 15:02] kubicki14 commented on #63
I have yet to try the larger model because of size difference and I'm assuming the runtime overhead wouldn't be worth it, but I will try it if you think I will get different results. My application is clinical so I'll post this example:

"Left adnexal cystic lesion measures 4.3 x 3.8 cm.  It appears increased from the prior examination measurement of 2.0 x 2.0 cm.  This is indeterminate but may re

[2018-06-27 19:25] eric-yates opened #65 "Inconsistent Cluster Behavior Between Doc and Span"
MacOS High Sierra (10.13.3)
spacy == 2.0.11
neuralcoref == 3.0
en-coref-md == 3.0.0

Hi, I'm working to resolve coreferences within a single sentence that is part of a larger paragraph. For example, in the short paragraph:

[code]

The first print yields: [Carol: [Carol, Carol, she]]
The second print yields (for both s in tokens): None

Why does neuralcoref not work within a Span here? I don't wan

[2018-06-27 19:25] aish-anand opened #66 "Unable to run example"
I'm unable to run the sample example that's shown in the documentation. I have installed neuralcoref from the github repo at ~/Documents/neuralcoref. Do I need to specify this path somewhere? I get this error -
[code]

[2018-06-27 20:18] eric-yates commented on #66
Did you install the en_coref_sm module? The README recommends to install the en_coref_md module, which may be the issue

[2018-06-27 20:29] aish-anand commented on #66
Got the en_coref_md module.. now getting this error -
[code]

[2018-06-27 20:46] eric-yates commented on #66
I had this same exact issue last night. I solved it by doing:

[code]

Not sure why this worked, as pip automatically installs version 2.0.11 when not specified and that didn't work for me

[2018-06-27 23:37] eric-yates commented on #65
I figured out a way to only check for coreference in a sentence, although it seems a bit hacky. For example in:

[code]

I first calculated the begin index and the end index of the sentence in question. Then, I checked to see if the index of the first mention (Carol) was in between the begin index and end index.

If it was, then it was a valid coreference within a sentence. If it was not, then it

[2018-06-28 06:18] Praveenabiginfo commented on #48
Hi,

The issue is not related to Ubuntu it seems. I was using Python2.7 version before. I tried with Python 3.4. Now it is working fine. Is there any options to make it run on Python2.7 itself??

[2018-06-28 06:58] thomwolf commented on #66
Yes, sometimes pip installed old cached versions.
My way to be sure everything is brand new is to use
[code]

[2018-06-28 07:05] thomwolf commented on #65
Well the behavior in your first comment is intended:
- if you ask for the coreference of a Doc, you get all the coreferences.
- if you ask for the coreference of a Span you only get coreferences that matches exactly the Span.
This is required to navigate easily within the chains. I understand it may be a bit surprising, I will try to clarify it a bit in the readme.

Regarding your second comment,

[2018-06-28 07:09] thomwolf commented on #48
Well it is working on my mac (OS Sierra) on Python 2.7 so I am a bit puzzled.
Can you try installing a full clean version with
[code]

[2018-06-28 07:13] thomwolf commented on #64
Hi @linkwithkk,
Can you try updating to the latest version of spacy (I recommend doing that in a conda environment)?
You can do that, for example, by installing NeuralCoref in a clean environment with:
[code]

[2018-06-28 07:16] thomwolf commented on #63
Hi @kubicki14, yes the text looks very different from the training data so it's really hard to predict what the statistical model will guess. We will be releasing a version that let you more simply retrain the model on your data but that won't before a few months.
In the mean time I would recommend using the largest model `en_coref_lg`.

[2018-06-28 07:16] #63 closed

[2018-06-28 09:07] Praveenabiginfo commented on #48
Same error only I got again

On Thu, Jun 28, 2018 at 12:55 PM, Praveena M <praveena@biginfolabs.com>
wrote:

--
Regards,
Praveena .M

[2018-06-28 10:23] savkov opened #67 "Is it possible to de-couple the v3 model from the spaCy model?"
Thanks for making this a proper spaCy component and showing the power of Cython!

Is it possible to re-package the neuralcoref model with a different version of the underlying spaCy model, e.g. a news model? Is it the same coref model across all sizes or do they differ? Also, is there a way to upgrade to spaCy models 2.1.x?

[2018-06-28 11:02] thomwolf commented on #67
Yes! And it's time I add this in the readme indeed.
Let me upload the bare weights and write some instructions on how to add them to another model and save it.

[2018-06-28 22:40] eric-yates commented on #65
Ah I see, thank you for the clarification. We're relying on user input that may put in decimal numbers, abbreviations, etc. that would mess up the split string method. I tried first passing the whole paragraph through `nlp` and then passing each sentence in doc.sents through `nlp`, although I found that performance was too slow for our requirements

A coreference option within a sentence could be

[2018-06-28 22:40] #65 closed

[2018-06-29 08:24] basilgeorge opened #68 "Cannot access conllparser.py"
Hi
I am not able to access the conllparser.py script here: https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/conllparser.py

I find no folder named blob in the repository.

Could you please check?

Thanks,
Basil.

[2018-06-29 08:50] thomwolf commented on #68
Oh yes, it's all there now: https://github.com/huggingface/neuralcoref/tree/master/neuralcoref/train
I am refactoring the training scripts to make it faster but it won't be finished before a few weeks I think.

[2018-06-29 09:13] vrian commented on #60
Thanks @thomwolf! I see that's the conll-formatted one. I also tried it but the error is the same. Here is the issue I made about it

[2018-06-29 09:22] basilgeorge commented on #68
Thanks! @thomwolf

[2018-06-29 09:41] thomwolf commented on #60
You have to follow carefully the example given on http://cemantix.org/data/ontonotes.html regarding how to use the scripts. Replace the path given in the example by the path to the CoNLL data folder on your computer.

If you have an error again, please post the new error here.
I don't think it can be the exact same error as in your first message as the script was updated on that error.

[2018-06-29 13:54] vrian commented on #60
I rechecked the instructions carefully and made some progress. A different error is displayed

`-> python conll-formatted-ontonotes-5.0/scripts/skeleton2conll.py ontonotes-release-5.0/data/files/data/english/annotations/bc/cnn/00/cnn_0001.parse conll-formatted-ontonotes-5.0/data/train/data/english/annotations/bc/cnn/00/cnn_0001.gold_skel conll-formatted-ontonotes-5.0/data/train/data/english/annota

[2018-07-02 08:57] NeverInAsh opened #69 "No clusters being formed. But rest api shows it"
import en_coref_lg
nlp = en_coref_lg.load()
sentence = u'Thirty-nine patients received single-dose BI 655066 intravenously with arm size of 18 or subcutaneously with arm size of 13 or placebo with arm size of 8.'
doc = nlp(sentence)
doc._.coref_clusters

There seems to be no coref clusters but https://huggingface.co/coref/?text=Thirty-nine%20patients%20received%20single-dose%20BI%20655066%20intrav

[2018-07-02 09:08] NeverInAsh commented on #69
Also
doc = nlp(u'Hello anshik is an engineer,he lives in India')
doc._.coref_clusters #output [anshik: [anshik, he]]

doc = nlp(u'Hello anshik is an engineer,he lives in Lucknow') #lucknow is capital of Uttar Pradesh(state of India)
doc._.coref_clusters #output [an engineer: [an engineer, he]]

[2018-07-02 09:32] theSage21 commented on #69
See #30 #16 as they might solve your issue. As for the other example, using non-western names often causes strange parses. For example using `Hello John is an engineer,he lives in Lucknow` solves that last part.

[2018-07-02 17:40] NeverInAsh commented on #69
@theSage21 thanks for such a quick response. I understand what you are trying to say. #30 is what i am looking for but doesn't solve for my problem.

Maybe i am missing something.see this link
https://huggingface.co/coref/?text=Obama%20was%20born%20in%201961%20in%20Honolulu%2C%20Hawaii%2C%20two%20years%20after%20the%20territory%20was%20admitted%20to%20the%20Union%20as%20the%2050th%20state.

This i

[2018-07-03 03:36] meggie-wong opened #70 "How to get the confidence score of the coreference?"
![1530588879488](https://user-images.githubusercontent.com/35553398/42197397-214515fc-7eb5-11e8-9b69-37a2f297dad0.jpg)

I have noticed that in your deme there are some scores for the coreference but how can i get the score from the api?

Does someone know?

Thanks!

[2018-07-03 04:07] SeanCherngTW opened #71 "Reference paper of this system"
Hi,

What thesis did you refer to implement the neuralcoref model?

Thanks

[2018-07-03 07:05] thomwolf commented on #71
Hi, it based on the model developed in these two papers by Kevin Clark and Christopher D. Manning: https://cs.stanford.edu/~kevclark/
- Deep Reinforcement Learning for Mention-Ranking Coreference Models.
by Kevin Clark and Christopher D. Manning in Empirical Methods on Natural Language Processing (EMNLP), 2016.
- Improving Coreference Resolution by Learning Entity-Level Distributed Representations

[2018-07-03 07:05] #71 closed

[2018-07-03 07:07] thomwolf commented on #70
Hi, currently you cannot with the version 3.0 of NeuralCoref.
I will see if I can add a way to access them again.

[2018-07-03 14:01] thomwolf commented on #69
@NeverInAsh the coref demo on our website also shows no coreference clusters for your sentence `Thirty-nine patients received single-dose BI 655066 intravenously with arm size of 18 or subcutaneously with arm size of 13 or placebo with arm size of 8`

You have to unclick the `debug` box on the website to see the real output of the coreference module. The other branches show all the scores computed

[2018-07-03 16:31] NeverInAsh commented on #69
This makes complete sense to me. Thanks @thomwolf , i think an adjustable greedyness coefficient would be a great addition to you and your team's awesome effort.

[2018-07-05 10:22] thomasopsomer commented on #67
Thanks for adding the weights, it's so nice to be able to use neuralcoref as a spacy component.
I guess @savkov you're looking for something like this.
[code]

[2018-07-06 19:32] ZiningZhu opened #72 "NameError (NO_COREF_LIST) when importing en_coref_md"
I was given a NameError when importing `en_coref_md`:
[code]
After ~20s, got this error message:
[code]

I also tried the alternative method:
[code]
Running the `spacy.load` the first time gives `File "neuralcoref.pyx", line 101, in init en_coref_md.neuralcoref.neuralcoref TypeError: must be char, not unicode` (same as Issue #48), and the second time gives `NO_COREF_LIST` NameError.

Any ideas wha

[2018-07-06 19:44] ZiningZhu commented on #72
Also `neuralcoref` installed should be version 3.0.0:
[code]

[2018-07-10 04:10] qacollective commented on #56
Upgrading Spacy from 2.0.3 to 2.0.11 worked for me too, without any need for virtualenv or conda.

[2018-07-10 07:38] thomwolf commented on #66
I am closing this issue for now, please open a new one if there is still a problem.

[2018-07-10 07:38] #66 closed

[2018-07-10 18:50] sanjanalreddy opened #73 "Error in server.py example"
I was trying to run the server.py script and I run into the error that `coref.mentions` is not defined. Is the script written for the recent version of the library?

[2018-07-11 10:55] purabimanna opened #74 "Rest server online demo working fine but model is not giving the resolved sentence"
while testing with the rest server online demo for a set of sentence,the coreference is getting resolved but while using "en_coref_lg" model the expected result is not coming.

[2018-07-13 07:44] Rishabh-Choudhry opened #75 "ModuleNotFoundError: No module named 'en_coref_sm.neuralcoref.neuralcoref'"
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-4-8c45af46f313> in <module>()
----> 1 import en_coref_sm

~/anaconda3/lib/python3.6/site-packages/en_coref_sm/__init__.py in <module>()
      4 from pathlib import Path
      5 from spacy.util import load_model_from_init_py, get_mode

[2018-07-13 09:16] Rishabh-Choudhry commented on #64
Received the same error in macos, any solution @thomwolf ?
Tried :  **pip install --upgrade --force-reinstall --no-cache-dir MODEL_URL**
but did not work

[2018-07-14 01:52] #75 closed

[2018-07-15 17:01] qhungngo opened #76 "Can't find model 'en_coref_sm'."
According to guide to install neuralcoref by source code, I have done successfully but when I run example, spacy package could not find 'en_coref_sm' model.

Anyone know how to fix this?
Thanks.

[2018-07-17 11:12] sanjanarjn opened #77 "Performance issue for the latest version."
Hi,

I have installed the latest version of neural coref and Cython also. But for a 22k long content it is taking around 1 min to resolve the coreference. Is this expected? How do I make sue if Cython is being used for better performance? Kindly help. Thanks in advance.

Sanjana

[2018-07-19 04:44] sarthakchakravarty commented on #62
I did a work around this error for my use case with the following piece of code:
[code]
You can check if this solves your problem too.

[2018-07-19 04:47] arunzz commented on #77
I am also facing the same issue. Its isnt fast enough. Kindly let know if anything else has to be installed to realize the speed in this latest version.

[2018-07-19 05:09] theSage21 commented on #77
I'll run some tests to verify this. I've found the speed satisfactory so far.

[2018-07-19 06:01] haijun-dgp commented on #62
Yeah I found out that too. Apparently they only support certain types of attributes, as they mentioned in the readme of the repo.

[2018-07-20 05:29] NeverInAsh commented on #74
can you be a little verbose about it. i think i can help you understand better then

[2018-07-20 10:16] theSage21 commented on #77
model|words|real|user|sys
-----|-----|----|----|---
en_coref_lg|59014|49.9533|91.5734|14.6637
en_coref_md|59014|58.9120|101.1673|14.5475
en_coref_sm|59014|42.6424|86.9106|13.8428

Times are in seconds as obtained by the linux `time` command. The text used was
[text.txt](https://github.com/huggingface/neuralcoref/files/2213438/text.txt).

That's approximately 1100 words per second on a 4 core lapto

[2018-07-20 15:29] richcamp opened #78 "broken pipe error during training"
Hi,

During training we're getting 'BrokenPipeError: [Errno 32] Broken pipe'.  Not sure how to proceed. Is this a known issue?

Thanks,
Rich

[2018-07-20 19:12] thomwolf commented on #67
Hi yes, it's pretty much working (I just still have a bug left when you want to save a model with the custom pipeline component that I wanted to fix before releasing the new version).

You can already try it by following the instructions for standelone pipeline component on the `develop` branch, i.e. [section install-neuralcoref-as-a-spacy-pipeline-component here](https://github.com/huggingface/ne

[2018-07-24 10:49] pandiaraj commented on #64
@thomwolf Thanks, upgrading to Spacy2.0.11 works on Windows 10

[2018-07-24 11:45] arunzz commented on #77
Thank you for sharing this detail.
It is fast enough when all cores are utilized.

Regards
Arun

On Fri, Jul 20, 2018 at 3:46 PM, Arjoonn Sharma <notifications@github.com>
wrote:

[2018-07-30 13:57] valdicarlo opened #79 "How to load new trained models in Spacy ?"
Hi,

I successfully trained a new Italian coreference model following [these instructions](https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/train/training.md).
The only output of the training process I have, seems to be the checkpoints models, in particular the three files *_best_modeltoppairs, *_best_modelranking, *_best_modelallpairs.

Now I would like to use my new trained mod

[2018-08-03 10:56] arunzz opened #80 "Two resolutions in one"
Hi

In the below sentence, the pronominals "_their_" is resolved with "_designers_" and "_them_" is resolved with "_designers_". But actually "_them_" has to be resolved with "_implanted devices_" if you see the sentence meaning.
Any way to learn this or is this even feasible. Kindly let know if this is something that we have to live with.

**Sentence**
This quality allows **designers** to reduce

[2018-08-10 05:20] rajeshkumargp opened #81 "KeyError: "[E002] Can't find factory for 'neuralcoref' in Ubuntu 16.04 Python 3 when trying to load a downloaded model"
Hi,  I am using Ubuntu 16.04 ,Python 3.
I have downloaded https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_md-3.0.0/en_coref_md-3.0.0.tar.gz and then extracted it.

[code]
Getting below error message:

`
KeyError: "[E002] Can't find factory for 'neuralcoref'. This usually happens when spaCy calls `nlp.create_pipe` with a component name that's not built in - for example,

[2018-08-11 19:20] minhlab opened #82 "Can't serialize document"
I can save a Spacy document to disk but not one produced by neuralcoref. For example, the following snippet returns error `TypeError: can't serialize My sister: [My sister, She]`.

[code]

The files produced are as follows:

[code]

[2018-08-14 05:59] theSage21 commented on #76
I don't think the models would be included in the source code. You'll either have to train or download from the link in the README.

Any reason you want a source install?

[2018-08-16 08:51] pradipcyb commented on #72
having the same issue

[2018-08-21 03:27] tanzf commented on #81
I have encountered the same problem, but I don't know how to modify it. Have you solved it? Can you teach me?

[2018-08-21 03:40] tanzf commented on #72
having the same issue

[2018-08-21 14:45] thomasopsomer opened #83 "Segmentation fault when processing only part of document"
Hi,

I'm trying to use neuralcoref only on "sub part" of a `doc` for instance several sentences to save some computation and I'm seeing very strange things ! The following code breaks with a segmentation fault.

[code]

It's quite hard to find what's wrong from the outside ^^

[2018-08-23 06:59] tanzf opened #84 "Do you have any well-trained Chinese spaCy models？"
Do you have any well-trained Chinese spaCy  models？can you send me a copy? Email：tanzfzb@163.com

[2018-08-27 22:01] oats-meal commented on #81
I'm getting this error as well. I'm running neuralcoref 3.1 in Python3.6 and also using PyCharm.

[2018-08-28 06:20] FTAsr opened #86 "How to combine multiple clusters for the same entity?"
In longer documents, the algorithm generates several clusters each including a few (neighbouring) mentions of a named entity. Is there a standard way to combine them so the resulting number of clusters would be equal to the number of unique entities?

[2018-08-31 17:46] Rushin95 commented on #77
Hi Everyone,

I tried running **NeurelCoref en_coref_sm model** to get co-reference resolution from a text. Following are the details:

_Input Doc type: Text file
Input Doc size : 834 KB
Total sentences : 7199
Total words: 126488
Processing Time: 10 minutes_

**Problem:**
This program is eating up all my RAM. All 8 cores(32 GB machine) are used with **7 GB to 29 GB** Memory utilization. Mostly, me

[2018-09-01 15:21] matanster opened #87 "In what sense state of the art?"
This leaves a terrific impression, but how did you conclude this is state of the art? I think this should be noted in some prominent way, even if it is already there in the blog post!

[2018-09-05 14:17] lauraBaakman opened #88 "Neuralcoref is loaded even if it is in the disable list of load"
An illustration of the issue with spacy 2.0.11 and en-coref-sm 3.0.0

[code]

[2018-09-06 03:14] w2wei opened #89 "prepare the data error"
"python -m neuralcoref.conllparser --path ./data/train/"  returns an error message "AttributeError: 'ConllDoc' object has no attribute '_extract_mentions'"

The traceback is as below,
🌋 Parsing utterances and filling docs
0it [00:00, ?it/s]
Traceback (most recent call last):
  File ".../python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File ".../python3.6/runpy.py",

[2018-09-06 03:15] w2wei opened #90 "installation error"
"pip install -r ./training_requirements.txt -e ." return an error. The path needs to be updated.
This works,  pip install -r ./train/training_requirements.txt -e .

[2018-09-06 06:45] iovian opened #91 "Cannot import Coref"
I want to use one_shot_coref(text) function from Coref but when I try to import it an error is raised:

import en_core_web_md
spacy = en_core_web_md.load()
coref = Coref(nlp=spacy)

ImportError: cannot import name 'Coref'

[2018-09-06 20:52] sanjanalreddy opened #92 "Scores between the mentions"
I am trying to get the scores which are shown on the neuralcoref viz but don't seem to be able to do so. I tried to call `doc._.coref_scores` but it mentions that the extension has not been set. Has anyone been able to get the scores?

[2018-09-07 21:53] hpwow opened #93 "Installation Problem of en_coref_md"
When I used pip install en_coref_md, I got 'could not find a version that satisfies the requirement en_coref_md (from versions: ) No matching distribution found for en_coref_md'. But I checked all my python and spacy versions. Can anyone help?

[2018-09-08 01:53] theSage21 commented on #93
The link is meant to be used.

Instead of using `pip install en_coref_md` use `pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_md-3.0.0/en_coref_md-3.0.0.tar.gz`

[2018-09-19 03:11] hezhihao10 opened #94 "how to download OntoNotes data in that website?"
I have log in my account, but  I still can not find the button to download the dataset in the website(https://catalog.ldc.upenn.edu/LDC2013T19).Someone told me that I should create a order. Could you tell me where should I click to create the order? Thank you a lot.

[2018-09-19 14:38] julien-c commented on #94
Hi, your best bet would be to ask the LDC directly, they're usually pretty responsive.

[2018-09-19 14:38] #94 closed

[2018-09-20 11:51] andreasvc commented on #89
@thomwolf Any word on this? It seems to me that the method is missing from the code base.

[2018-09-20 13:11] w2wei commented on #89
Hi @LexieGrace ! No, this method is not in class ConllDoc or class Document. There are two relevant functions extract_mentions_spans and _extract_from_sent in document.py. I guess the code is refactorized and this method is no longer used.

[2018-09-20 13:46] ljinstat commented on #87
The neuralcoref model is inspired by the mention-ranking model which is implemented in previous the state-of-the-art papers (mentioned in the blog and issue #71).
Due to the expectation of relatively good performance and easier implementation, the neuralcoref model isn't actually implemented the same as it is mentioned in those two papers. Thus, it loses some performance without surprise. Besides,

[2018-09-20 17:28] LexieGrace commented on #89
Thanks for responding! I saw them. Currently using them for my mention extraction.

From: Wei Wei
Sent: Thursday, September 20, 2:11 PM
Subject: Re: [huggingface/neuralcoref] prepare the data error (#89)
To: huggingface/neuralcoref
Cc: LexieGrace, Mention

Hi @LexieGrace<https://github.com/LexieGrace> ! No, this method is not in class ConllDoc or class Document. There are two relevant functions ex

[2018-09-20 19:14] gonz commented on #48
I'm also having this issue, I'm using python 2.7.6 on a Ubuntu 14.04.

This is the full traceback:

[code]

Initially I hit the `AssertionError` @Praveenabiginfo mentioned on Jun 27th, I fixed that by upgrading spacy from 2.0.7 to 2.0.12. Now I'm stuck with this `TypeError` when loading the model from spacy, I should mention that importing the package (`import en_coref_sm`) does work.

[2018-09-21 09:20] devitoclic commented on #92
I'm having the same issue right now. Some coreferences are not resolved because the corefs scores are too low.
It would be great to set a threshold to force the coref resolution.
I saw `doc._.coref_scores` from 3.0.0 but i cannot use it since it's not released as a spacy package yet.
Do you have any news about this feature ?

[2018-09-24 18:19] SanjanaLokesh commented on #92
Looked a little more into this issue. Looks like the code to get the coreference scores is there, but the models have to be retrained. So one of the solutions is to pull the latest version of master and then follow the instructions to retrain the models. Doing so, will enable the extension `doc._.coref_scores`.

[2018-09-25 23:40] SanjanaLokesh opened #95 "Are the scores returned ReLU?"
I went through the code which calculates the score and it looks like its supposed to be ReLU scores. But I don't understand or see why we get negative scores in ReLU since the point of using ReLU is to get the positive scores. Unless my understanding on how the scores are calculated is wrong.

[2018-09-28 07:11] selvaganeshmuthu opened #96 "Repeated replacement of corefering mention by main mention"
I am trying to find coreference between consecutive questions. I can have sentences that have coreference relation or not and replacement should be done only for sentences with coreference relation. I have the following questions,
1. how to view old Issue.
2. how to add new Issue?

I try to find the coreference resolved text the following way.

[code]
**Output:**

[old Issue: [old Issue, new Issue

[2018-09-30 04:04] kyoungrok0517 opened #97 "#include "ios" error in mac Mojave"
Hi, I encounter the following error when I try to install the models

[code]

[2018-10-03 09:10] cgallay commented on #64
@thomwolf Thanks, upgrading to spacy-2.0.12 worked form me as well on Linux

[2018-10-04 11:09] boehm-e commented on #16
Hi,

I am using the en_core_web_lg model, but am still having the issue:
with this sentence:

_`Once upon a time a lion lived in a forest. One day after a heavy meal it was sleeping.  After a while, a mouse came and it started to play. Suddenly the lion got up with anger and looked for those who disturbed it's nice sleep. Then it saw a small mouse standing trembling with fear. The lion jumped on i

[2018-10-04 11:51] boehm-e commented on #69
@NeverInAsh
you can tweak greedyness coefficient :
https://github.com/huggingface/neuralcoref/blob/develop/readme.rst

```nc = NeuralCoref(nlp.vocab).from_disk('path/to/neuralcoref/weights')```
**```nc.cfg['greedyness'] = 0.75```**
```nlp.add_pipe(nc)```

[2018-10-04 11:57] devitoclic commented on #63
Same problem here. Online demo resolve corefs with custom words and expressions but using the latest neuralcoref package in local environment returns `doc._.has_coref = False` for the same example. How many examples do we need to adapt the model to custom data?

[2018-10-06 02:35] kyoungrok0517 opened #98 "KeyError at vectors.pyx"
Hello, I encounter the following error. I'm using the latest `en_coref_lg` model, spacy 2.0.11.

[code]

[2018-10-08 06:17] EricCacciavillani commented on #97
Having the same problem here with #include "ios"...

[2018-10-08 07:35] thomwolf commented on #96
Hi, yes I think this is the expected behavior. You can compute you own resolved string from the coreference cluster and the string if you want a different behavior.

Here is the current function that compute the `coref_resolved` string for inspiration: https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/neuralcoref.pyx#L262

[2018-10-08 07:35] #96 closed

[2018-10-08 07:38] thomwolf commented on #95
Hi, the model has three layers with ReLU followed by two linear layers so negative scores can indeed arise from the two last layers. Here is the model (using spaCy's Thinc librairy notation):
[code]
https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/neuralcoref.pyx#L491

[2018-10-08 07:38] #95 closed

[2018-10-08 07:40] thomwolf commented on #93
Thanks Arjoonn!

[2018-10-08 07:40] #93 closed

[2018-10-08 07:44] thomwolf commented on #91
Hi,
Try to follow the instructions in the readme, it should work:
[code]

[2018-10-08 07:44] #91 closed

[2018-10-08 07:46] thomwolf commented on #90
Thanks!

[2018-10-08 07:46] #90 closed

[2018-10-08 07:49] thomwolf commented on #89
Yes, the training code is currently being refactored to speed it up.
Work on progress on the `develop` branch

[2018-10-08 07:52] thomwolf commented on #88
Indeed thanks. it will be fixed in next version.

[2018-10-08 07:52] #88 closed

[2018-10-08 07:53] thomwolf commented on #87
You are right, it's not state-of-the-art anymore.
The AllenAI system is.
I will change the wording.

[2018-10-08 07:53] #87 closed

[2018-10-08 07:55] thomwolf commented on #86
Hi, I don't think there is a universal way to combine clusters.
The algorithm try to cluster entities as much as it can.
If it's not enough you will have to add domain specific heuristics.

[2018-10-08 07:55] #86 closed

[2018-10-08 07:56] thomwolf commented on #84
Hi,
No I don't have a chinese model.
Best,
Thom

[2018-10-08 07:56] #84 closed

[2018-10-08 08:18] thomwolf commented on #81
can you try to pip install the downloaded model instead of extracting it?

[2018-10-08 08:19] thomwolf commented on #80
Hi, I don't think it can be changed in the current version unfortunately.
I am working on an annotation system that could help for that but it will still take a few month to be ready.

[2018-10-08 08:19] #80 closed

[2018-10-09 05:38] theSage21 commented on #64
@linkwithkk does this work for you?

[2018-10-09 15:21] thumarrushik commented on #63
Same problem here

[2018-10-09 20:52] SanjanaLokesh commented on #95
Hi @thomwolf Thank you for clarifying that. Is there a way to convert these scores to be between 0 and 100. It is more readable to get a confidence or sorts as a value.

[2018-10-09 20:55] sanjanalreddy opened #99 "Score normalization"
How do you normalize the scores which are returned? And how do you interpret the scores which are returned?

[2018-10-09 21:28] thumarrushik commented on #69
@boehm-e

I am getting below mentioned where I follow your instructions.

[code]

[2018-10-10 07:49] thomwolf commented on #99
Well, you can't really normalize the scores. They are not probabilities (not trained using a probabilistic loss). You can just compare them to one another: higher or lower than another score.

[2018-10-10 08:48] boehm-e commented on #69
@thumarrushik can you share a code snippet ?

[2018-10-10 14:43] linkwithkk commented on #64
Hi guys. I ended up taking a different approach for my problem.
However i tried it now with 2.0.11 and it works.

[2018-10-10 20:35] thumarrushik commented on #69
@boehm-e

It's work on Ubuntu, still not getting whatever results get in the rest API, is there any tuning method available, please suggest me.

import spacy
from neuralcoref import NeuralCoref

nlp = spacy.load('en')

nc = NeuralCoref(nlp.vocab).from_disk('/home/ubuntu/neuralcoref')
nc.cfg['greedyness'] = 0.56
nlp.add_pipe(nc)
doc = nlp(u'text ')
doc._.coref_clusters

[2018-10-11 07:43] boehm-e commented on #69
@thumarrushik : if you're not getting the same results it probably means that they 'website' is not using the same model as they released.
Increasing the greedyness will allow you to find more clusters, but with lower confidence...

[2018-10-11 09:26] boehm-e opened #100 "en_coref-4.0.0, difference between website model and shared model"
Hi,
I am trying to have the same results as the website:
When i use the en_coref_lg 3.0.0 model and even if i replace the `neuralcoref` folder by the new 4.0.0 release (https://github.com/huggingface/neuralcoref-models/releases/), it has no effects:

in the following sentence,  `it` is replaced by `One day after a heavy meal`:

`Once upon a time a lion lived in a forest. One day after a heavy meal

[2018-10-11 13:51] thumarrushik commented on #69
@boehm-e  Thank you for your help and I am following your new issue in this repository

[2018-10-11 14:53] jdliu18 commented on #79
Hi,

I have a same problem here. Thanks.

[2018-10-11 17:46] MattJBritton commented on #91
Sorry to re-open this, but I am having the same confusion. I initially tried to use the same code as the OP to load, having found that on a blog post that used one_shot_coref. The [spacy documentation](https://spacy.io/universe/?id=neuralcoref.
) for neuralcoref also uses this load method.

I have also tried the loading method from the readme - it loads as expected, but I am unsure how to access o

[2018-10-11 17:59] MattJBritton commented on #91
Or, sorry, is the best way to do this just doc._.coref_resolved? Apologies if that's the case and I missed it earlier.

[2018-10-11 19:12] thomwolf commented on #91
Oh yes doc._.coref_resolved should be the same as previous one_shot_coref. we changed that to fit better with spaCy.

[2018-10-12 20:46] emilykl commented on #89
@thomwolf to get the training working right now, is there a single function I can use instead of `_extract_mentions()`?

[2018-10-15 16:21] JohnGiorgi opened #101 "doc._.coref_resolved returns empty string if no coreference"
I noticed that `doc._.coref_resolved` will return the empty string if there is no coreference mentions in a document. For example:

[code]

Is this expected behaviour? I would have expected `doc._.coref_resolved` to just return the same text that came in if no coreference mentions were found. Apologies if this behaviour is documented somewhere, I couldn't find it if so!

[2018-10-16 08:45] aribornstein commented on #70
Any progress on this?

[2018-10-16 08:46] aribornstein commented on #99
@thomwolf is there any best practice for thresholding?

[2018-10-16 18:36] theSage21 opened #102 "ValueError: cymem.cymem.Pool has the wrong size, try recompiling"
On installing with the `en_coref_md` link I encountered this error.
Putting it here just in case it reveals a bug somewhere which makes the next release better.
Curiously, on the same machine in another environment the library works fine.

Will update if this goes away due to some action of mine.

[code]

[2018-10-16 18:40] JohnGiorgi commented on #102
I got the same error, the solution for me was to downgrade Spacy. Anything between `2.0.11` and `2.0.13` seemed to work.

[2018-10-21 21:41] fersarr opened #103 "spacy.strings.StringStore has the wrong size, try recompiling"
Spacy works perfectly fine for me with the usual spacy-provided models, but trying to load `en_coref_md` or  `en_coref_lg` fails with the following message:

[code]

My environment:
[code]

Not sure if this makes any difference, but spacy was installed via conda while coref was installed via pip. This is part of the output of ```conda list```
[code]

[2018-10-21 21:50] fersarr commented on #103
upgrading to spacy 2.0.16 gave me error in issue https://github.com/huggingface/neuralcoref/issues/102

[2018-10-21 22:11] fersarr commented on #103
I get the same error with `spacy 2.0.13` (from conda-forge) and python `3.6.6`:
[code]

[2018-10-22 14:29] fancyerii commented on #60
it seems some conll scripts can only use python 2.x

[2018-10-22 17:48] ashwini2008 commented on #59
hey I have same problem. Can you please help me out?

[2018-10-22 21:24] jdliu18 opened #104 "Loading NeuralCoref as a spaCy pipeline component with new model"
Hi,

Thank you for sharing this great library. It is really useful for coreference resolution.

After I successfully trained the model following the training instructions, I have three best model files. However, I am not sure how to use those models.  Could you explain how can I use the best ranking model for coreference resolution? Specifically, how can I transfer the best ranking model into the

[2018-10-23 06:13] nityansuman opened #105 "include "ios" error in macOs Mojave with spaCy 2.0.12"
~$ pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz
     .
     .
     .
    en_coref_sm/neuralcoref/neuralcoref.cpp:583:10: fatal error: 'ios' file not found
    #include "ios"
             ^~~~~
    2 warnings and 1 error generated.
    error: command '/usr/bin/clang' failed with exit status 1
    Command "/Users/nityansum

[2018-10-23 07:16] nityansuman commented on #97
Having exact same issue!

[2018-10-25 04:36] nityansuman opened #106 "Failed building wheel for en-coref-sm"
pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz
Collecting https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz
  Downloading https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz (77.8MB)
    100% |███████████

[2018-10-25 04:36] #105 closed

[2018-10-26 22:51] msalameh83 commented on #89
any solution to the issue above?
I am facing the same issue

[2018-10-29 21:46] soumyagk commented on #103
It worked for me with `spacy==2.0.12` and `thinc==6.10.3`. And that combination alone. spacy's `2.0.11` and `2.0.13` did not work for me.

[2018-10-29 21:47] soumyagk commented on #102
Worked for me with `spacy==2.0.12` and `thinc==6.10.3`. `2.0.11` and `2.0.13` did not work for me.

[2018-10-31 04:52] #106 closed

[2018-10-31 12:34] boehm-e opened #107 "I created a raspberry pi image"
Hi,
if anyone is interested, I create a Raspberry Pi image with
en_coref_sm installed (with spacy, and en_core_web_sm) , ready to go:

to download it : https://drive.google.com/file/d/1swM9xNzCGpFat2o3iK_CiM8tm4rhFwj8/view?usp=sharing

The image is based on https://github.com/bamarni/pi64/ , a 64bit linux for raspberry pi :
currently tested on PI 3B+ (2017) but should work on all raspberry pi 3.

[2018-11-02 23:07] kteli commented on #105
uninstall XCODE

[2018-11-06 05:42] leong1016 commented on #97
Same issue on the new Mac version.

[2018-11-07 12:18] basque21 opened #108 "Does the en_coref_lg model work with the spacy's "en_vectors_web_lg" or only with " en_core_web_lg"?"
Only this question. Thanks

[2018-11-07 14:22] ecarlso2verizon commented on #97
Try setting the CFLAGS stdlib=libc++. CFLAGS='-stdlib=libc++'
This worked for me.

[2018-11-09 19:54] respectPotentialEnergy commented on #103
FWIW I have `spacy==2.0.12` and `thinc==6.10.3` installed via conda (python 3.6.7) and couldn't get it to work. If I `import spacy; nlp=spacy.load('en_coref_md')`, I get a `SystemError: Missing type object`, but if I `import en_coref_md; nlp = en_coref_md.load()`, I get the same error as above, `ValueError: spacy.strings.StringStore has the wrong size, try recompiling. Expected 88, got 112`

[2018-11-11 10:37] cyclecycle opened #109 "Get resolved doc"
Is there a recommended way to get a coref resolved Doc object?

Reprocessing the resolved text to create a new Doc works but is not the most efficient.

Thanks

[2018-11-12 22:52] soumyagk commented on #103
Can you try with system installed python instead of conda-installed? Make sure to create a python virtual environment first though before installing any packages and testing the neural-coref model.
[code]
I used to face a lot of inconsistency in dependencies using conda (the very things it was supposed to solve 😏 ). I find it much easier to work with a clean python virtual environment created from

[2018-11-16 20:50] rgabbard commented on #60
Should anyone else run into the `please make sure that you are pointing to the directory 'conll-2012'` problem in the future, it looks like the script expects the command-line argument to be exactly the string "conll-2012" and not some alternate relative or absolute path which points to the same directory.  As a consequence, you need to run the script from the parent directory of `conll-2012` so y

[2018-11-18 00:19] jmugan commented on #97
Same issue here. @ecarlson6022, can you give a little more detail?

[2018-11-18 02:11] ecarlson6022 commented on #97
@jmugan when you run the pip install command add CFLAGS='-stdlib=libc++' in front.
CFLAGS='-stdlib=libc++' pip install MODEL_URL

[2018-11-18 21:33] wxv commented on #102
Works for me with `thinc==6.12.0` and `spacy==2.0.13` (however pip reports `spacy (2.0.17.dev1)`

[2018-11-21 10:12] lahsuk opened #110 "Doesn't work when span is merged."
[code]
When the above code is run, it gives the following error:
[code]

[2018-11-25 21:33] wesleytao commented on #102
same problem. But I can't downgrade spacy. Windows will fail to install because of the thinc and other wheel

[2018-11-27 14:30] JoanEspasa opened #111 "Usage of contextualized embeddings?"
Good afternoon,

First at all, congrats on the nice implementation! The demo is beautiful :smile:

I have two small questions:
* I was skimming through the posts/articles and wondering if maybe using ELMo/Flair/BERT embeddings could replace in some sense the few manually created features for the model, or at least improve the results slightly?

* I am only interested in coreferences of some entiti

[2018-11-29 09:12] redstar12 opened #112 "Error installing en_coref_{model} via anaconda"
When I try to install en_coref_{model} via Anaconda (conda install -c laed neuralcoref) I get the error:

Solving environment: failed                                                                                                                                                                                                                     PackagesNotFoundError: The following packages are not

[2018-11-30 02:42] szittrower commented on #100
I believe the website demo still uses Neural Coref 2.0 model and code. As far as I'm aware you are not able to get the output scores from NeuralCoref after 3.0. I'd be interested if that were not the case.

[2018-11-30 06:36] Jasperty opened #113 "what is the different between en_coref models?"
for three models, en_coref_lg, en_coref_md, en_coref_sm, which one has best performance? only consider the performance, is lg best?

[2018-11-30 13:57] lauraBaakman opened #114 "save_vocabulary in neuralcoref.train.conllparser writes the same vocubulary to different files."
In `neuralcoref.train.conllparser.save_vocabulary`  both the static and the tunable vocabular should be written to file, according to the comments. Instead the the tunable vocabulary is written to both `tuned_word_vocabulary.txt` and `static_word_vocabulary.txt`.

[2018-12-01 13:26] ModernMats opened #116 "Load failure: different kinds of errors"
Hi, trying to install NeuralCoref but do not succeed however I try to. I'm on a macOS Mojave. Tried in different environments, conda with py2.7 and py3.6, clean installs with virtualenvironment 2.7 and 3.6 and the two different approaches mentioned [here.](https://github.com/huggingface/neuralcoref)

**First approach** (still py3.6), loading with:
`nlp2 = spacy.load('./venv3/lib/python3.6/site-pac

[2018-12-01 14:46] JohnGiorgi commented on #116
Hi,

Also on macOS Mojave, and had the same error:

[code]

Here is what worked for me

[code]

I use `conda` but I don't think using `virtualenv` will change much. For me, it was about downgrading spacy to 2.0.13. After this, I can run the following without error

[code]

Hopefully that helps!

[2018-12-03 08:00] Jasperty opened #117 "Sentence boundaries unset. You can add the 'sentencizer' component to the pipeline with: nlp.add_pipe(nlp.create_pipe('sentencizer'))"
spacy_model_name = "en_coref_md"
disable = ['vectors', 'textcat', 'tagger', 'parser', 'ner']
model = spacy.load(spacy_model_name, disable=disable)
doc = model('My sister has a dog, she loves him.')

and get:
ValueError: [E030] Sentence boundaries unset. You can add the 'sentencizer' component to the pipeline with: nlp.add_pipe(nlp.create_pipe('sentencizer')) Alternatively, add the dependency parse

[2018-12-06 18:44] ZeroCool2u commented on #102
This is an upstream issue, see: https://github.com/explosion/spaCy/issues/2852

Easiest solution is: `pip install spacy==2.0.12`

[2018-12-08 06:29] CptTZ commented on #102
If you are in Anaconda environment, you can use: `conda install spacy=2.0.12`

[2018-12-14 16:21] binjiaqm opened #118 "Load model ValueError: Wrong Size"
nlp = spacy.load('en_coref_md')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\envs\py36\lib\site-packages\spacy\__init__.py", line 21, in load
    return util.load_model(name, **overrides)
  File "C:\ProgramData\Anaconda3\envs\py36\lib\site-packages\spacy\util.py", line 114, in load_model
    return load_model_from_package(name, **overrid

[2018-12-14 17:40] #118 closed

[2018-12-14 17:40] binjiaqm commented on #118
pip install spacy==2.0.12

[2018-12-17 06:58] jmugan commented on #97
Since my earlier post, I've updated my mac, and the comment of @ecarlson6022, which used to work, no longer does. I get the error `clang: error: invalid deployment target for -stdlib=libc++ (requires OS X 10.7 or later)`. Any suggestions?

[2018-12-17 14:45] thomwolf commented on #97
Hi all, I am having a look at that right now.
I guess it's something like that: https://github.com/cython/cython/issues/2694

[2018-12-17 17:27] eduardbarbu opened #119 "The training instructions no longer correspond to the actual package structure"
I'm trying to train a model (with Conll and Ontonotes files) using the instructions from  : https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/train/training.md

Unfortunately the current code doesn't reflect those instructions. In the first place the conllparser.py module is now under "train" directory so : python -m neuralcoref.conllparser ...command fails.
Secondly, after I move

[2018-12-18 18:03] suwangcompling opened #120 "Load error: ValueError: 684830 exceeds max_map_len(32768)"
Loaded this way:
[code]
Spacy version: 2.0.12 (which multiple folks have reported to work for them).
The full error trace:
[code]

[2018-12-18 18:11] suwangcompling commented on #120
Bumped into a solution that worked for me: [here](https://github.com/explosion/spaCy/issues/2995#issuecomment-443244374).

[2018-12-18 22:32] #120 closed

[2018-12-19 00:51] rbhambriiit commented on #81
![image](https://user-images.githubusercontent.com/13808100/50191868-a3e7dc00-0327-11e9-95f5-38972961e6bb.png)

Successfully built en-coref-md
Installing collected packages: en-coref-md
Successfully installed en-coref-md-3.0.0

![image](https://user-images.githubusercontent.com/13808100/50191877-be21ba00-0327-11e9-9994-9f182441f0c4.png)

OSError: [E050] Can't find model 'en_coref_md'. It doesn't s

[2018-12-19 01:04] rbhambriiit commented on #9
This does not support spacy2 today?

[2018-12-19 02:38] julien-c commented on #9
Yes it does, this was an old issue

[2018-12-19 07:16] Hareem9292 opened #121 "CORPUS.build_and_gather_multiple_arrays(SAVE_DIR)"
let me explain about my virtual environment and python version.
virtual environment: (.enviroment27adm)
Python version: python2.7 with anaconda

I have already tried all these commands in python 3.7 as well and got the same error that is mentioned below. So, I think there is no python version issue.

i have tried  this command **python -m neuralcoref.conllparser --path ./data/train/** and i got th

[2018-12-20 09:33] lowpair commented on #84
@tanzf
https://github.com/howl-anderson/Chinese_models_for_SpaCy
you can train it yourself!

[2018-12-20 13:20] honnibal commented on #102
Could the people having trouble try `pip install spacy==2.0.18`? Also, which OS and Python version are you using? I can't reproduce the error, and I'm not sure why it wouldn't be working.

[2018-12-20 14:40] rkingery opened #122 "Load problems, SystemError: Missing type object"
Hey, like many others on here, I'm having a world of issues trying to get this library to run on macOS Mojave. My python version is 3.6, via Anaconda. On top of the cython issues mentioned in #97 (which I sort of found a work-around for), I'm getting errors when trying to load the nlp models, even inside the conda env trick mentioned in #116. The errors I'm getting are shown below. Any fixes would

[2018-12-29 22:23] folterj opened #123 "Model install error with spaCy 2.0.18"
Installing coref model using pip3 (Python 3.6) with spaCy 2.0.18 fails with below error message.

- OS: Centos 7
- Python: 3.6
- spaCy: 2.0.18

Installation error message (after downloading model file):

Complete output from command python setup.py egg_info:
error in en_coref_lg setup command: 'install_requires' must be a string or list of strings containing valid project/version requirement speci

[2019-01-01 09:48] hilaw commented on #82
I'm having the same issues..

[2019-01-04 19:23] shellshock1911 commented on #101
This is definitely a significant issue for someone not aware of it if they're about to process tons of documents for another task. The most logical behavior to me at least would be to return the original text, but that isn't what happens as mentioned. Internally, there should be a check to `doc._.has_coref`, and if that returns `False`, then no further processing is need.

[2019-01-04 19:41] JohnGiorgi commented on #101
I agree! I’ll see if I can get around to opening a pull request. Should be really straightforward.

[2019-01-05 11:15] qhungngo commented on #122
I also had this issue when using spaCy 2.0.18

[2019-01-06 02:20] mertyildiran commented on #102
I'm referencing these issues to each other since there is a version conflict right now and it's not possible to use `spacy==2.0.18` because of https://github.com/explosion/spaCy/issues/2995 anymore.

Please take a look at this comment of mine: https://github.com/explosion/spaCy/issues/2852#issuecomment-451709166

[2019-01-08 10:44] boehm-e opened #124 "fast continuous coreference"
Hi,
In older neuralcoref releases we could use something like that:
[code]

and we would have **It** as a mention of **bird**

I am working with speech recognition, so i need to analyze continuous sentences:
So :
- is there a clean way to do it with the current release ?
- is there a function like the previous **continuous_coref** ?

I know I could do it myself by passing the whole text from the b

[2019-01-09 21:42] d5555 commented on #60
Hi, @vrian , did you solve the problem ?

[2019-01-09 21:47] tokestermw opened #125 "Can't load model TypeError: unhashable type: 'dict'"
Currently, `spacy==2.0.18` fails like this when trying to load the coref model: https://github.com/huggingface/neuralcoref/issues/120

I downgraded to `spacy==2.0.12` and `thinc==6.10.3` and when I try to load the coref model, and now I get:

[code]

I've been trying various `msgpack` versions to no avail

[code]

Thanks

[2019-01-09 23:30] JohnGiorgi commented on #125
For me,

[code]

worked on both Linux and MacOS.

[2019-01-10 08:33] Ankit-Kumar-Singh-01 opened #126 "Need to use NeuralCoref with spacy 2.1 version"
I am trying to use neural core with space 2.1 version. It seems till now Neural Core is not compatible with 2.1 version of space. By when can we expect that compatibility. Thanks.

[2019-01-10 12:50] d5555 commented on #89
@thomwolf , Could you help with a quick fix to this problem please?
I got same error , Method _extract_mentions is missing from class ConllDoc or class Document

[2019-01-11 18:22] ahalterman commented on #117
spaCy's sentencizer relies on the dependency parse to determine where the boundaries of sentences are. When you disable the `parser` component of the pipeline, it can no longer do this segmentation. If you really don't want the parser on (perhaps for speed), you can implement a [custom sentence splitter](https://spacy.io/usage/linguistic-features#sbd-custom) in spaCy.

Incidentally, I'm not sure w

[2019-01-11 19:20] ahalterman commented on #125
For me, `spacy==2.0.13` lead to the issue in #103. Instead what I did was

[code]

Then the demo works fine for me. Using spaCy 2.0.16 leads to the cymem error that others have described (#116).

[2019-01-13 02:19] greasystrangler commented on #102
I've spent all evening looking through code for both Spacy and Neuralcoref but can't see where the problem lies. It seems there were almost identical bugs in Prodigy https://github.com/explosion/spaCy/issues/2852 as referenced by @mertyildiran and there the fix was in Prodigy, and seemingly not Spacy and not the supporting libraries thinc and msgpack

I can confirm that installing spacy==2.0.12 an

[2019-01-14 03:59] marc88 commented on #60
@rgabbard Did your suggestion solve your problem? Not working for me though.

[2019-01-15 14:53] rgabbard commented on #60
@marc88 : yes, my solution worked in my case

[2019-01-16 05:42] marc88 commented on #60
@rgabbard Just in case if you may suggest, I found a github repo for the files here
https://github.com/ontonotes/conll-formatted-ontonotes-5.0

Can you validate if the scripts produce a similar file as they are in the repo above?  So, if I can just use the files in the repo above without waiting for the script to work?

Regards

[2019-01-16 07:46] joe32140 opened #127 "Can't find mention type in doc class"
I can't find the mention type of a span, so I just copy get_span_type function to get mention types as follows.
Maybe it could be merged into doc object.
[code]

[2019-01-16 18:18] RodSernaPerez opened #128 "Where should I place the glove embedding?"
I want to train a new model. Where should I place the embedding file and in which format should it be?

[2019-01-21 14:17] RodSernaPerez commented on #79
Any solution to this problem?

[2019-01-23 15:43] swaroopgrs commented on #60
@vrian you can convert the `skeleton2conll.sh` file into python 3 with something like

`2to3 -w skeleton2conll.sh`

[2019-01-23 17:42] JohnGiorgi commented on #97
The following worked for me on MacOS Mojave:

[code]

Unfortunately, I don't know why. Just pieced this together from different issues.

[2019-01-25 13:30] JohnGiorgi opened #129 "Any plans to make neuralcoref avaliable on PyPI?"
Hi,

First of thanks for the tool! I was just wondering if there were any plans to stick `neuralcoref` on PyPI?

I have uploaded [My own project](https://github.com/BaderLab/saber) to PyPI, but because it depends on `en-coref-md`, trying to install it with `pip install` throws the following error:

[code]

Alternatively, if anyone knows install packages on PyPI with direct dependencies I would lov

[2019-01-25 18:49] kaiserama commented on #103
Not sure if this is other people's problem but for me it was because of the version of Neuralcoref.  My system had installed 3.1 but 2.0 is the only compatible version with the Spacy 2.0.12 version I was using.

Additionally no version of 2.0 is available on PyPi so you'll have to download the tar.gz and pip install from that version.

Download version 2.0 [here](https://github.com/huggingface/neu

[2019-01-29 12:35] emanuel1025 commented on #97
Same issue.

[2019-02-02 23:59] pdhung3012 opened #130 "No module neuralcoref.conllparser error"
Hello. I use python 2.7 and spacy 2.0.12. I finished install neuralcoref 3.1. I got this error when trying to run the data:

 python2 -m neuralcoref.conllparser --path /home/hung/git/neuralcoref/data/conll-2012-train.v4/conll-2012/v4/data/train/
/home/hung/anaconda3/envs/py27/bin/python2: No module named neuralcoref.conllparser

I have stucked with this error for a day. Thanks for your help.

[2019-02-03 06:25] pdhung3012 opened #131 "'ConllDoc' object has no attribute '_extract_mentions' error"
I already had problem with neuralcoref.conllparser not found module, however, I overcame this challenge by fix directly the python file and run directly the python file.

When I ran the conllparser.py file, I continued to have this error. I have checked and see that there is no definition of the extract_mention method in ConllDoc class. The code seems to incomplete I guess.

Parsing utterances and

[2019-02-03 07:02] pdhung3012 commented on #131
I tried solution that replace extract_mentions by process_mentions of Document.py. Hope it works

[2019-02-04 22:01] felialois commented on #130
I have exactly the same error and cannot find a solution. If you find anything please post it for others that might have the same problem. Thanks

[2019-02-05 05:54] pdhung3012 commented on #130
I think the problem is that neural coref doesn't include the conllparser.py when it built. My solution is that I ran the conllparser directly instead (with assigning the --path to your training folder).
To run the conllparser.py directly, you need the fix the import statement from several file (conllparser, compat and document.py)

[2019-02-05 15:11] SagarJHedau opened #132 "coref_clusters"
While executing project i am facing the following issue please help ? I have attached my screen shot for reference

python3 corefrence.py
My sister has a dog. She loves him
Traceback (most recent call last):
  File "corefrence.py", line 6, in <module>
    b = doc._.coref_clusters
  File "/Users/shahsamad/Desktop/Angular4/pythonProj/env/lib/python3.7/site-packages/spacy/tokens/underscore.py", line

[2019-02-07 04:21] pdhung3012 commented on #130
Hello. I think you might want to use the release of neural coref that have the training code instead. It might embed the training code instead of the lastest 3.0

[2019-02-07 15:48] tomkomt commented on #110
Hello,

we have very similar issue right now, if not the same actually.
Is there a solution for that?

[2019-02-08 03:06] suwangcompling opened #133 "SystemError: Missing type object"
I loaded spacy with
[code]
and got the following error:
[code]

[2019-02-08 03:10] suwangcompling commented on #133
Replacing `en_coref_lg` with `en_coref_md` I got a different error:
[code]

[2019-02-08 05:58] samhavens commented on #133
Link to a [colab notebook](https://colab.research.google.com/drive/1NaCenozIa1GGXxmX60IHdljTQ03fIFZJ) demonstrating this

[2019-02-08 06:35] lahsuk commented on #110
[code]
This is one way of doing it but if it mistakes the coreference, it will be hard to recover the text that has been replaced.

[2019-02-08 11:05] mauryaland commented on #133
pip install spacy==2.0.12 should fixed it. It is a conflict problem with the package cymem that was in previous spacy releases in version 1.X and that is now in version 2.X.

[2019-02-11 17:49] felialois commented on #121
I'm getting the same error. Did you ever manage to find a solution? Thanks

[2019-02-13 03:45] Shujian2015 opened #134 "How to output all probability like the debug mode in the demo?"
Hi, in my project, I am interested in outputting all probability like the debug mode in the demo. Is this doable? Thanks.

[2019-02-14 13:55] AugustIgner opened #135 "Coreferring noun phrases"
Hi,

Thank you for this tool, it's awesome.
I was wondering, is it able to detect coreferring noun phrases?
I could not find any information about this.

I tried running this example from Wikipedia:
- "The project leader is refusing to help. The jerk thinks only of himself."

"The project leader" refers to "The jerk", but a reference is not present in the output.

I would appreciate any details ab

[2019-02-14 15:39] cbjrobertson commented on #106
Why is this closed with no solution? I am experiencing the same issue...

[2019-02-17 07:27] yash97 opened #136 "How to rectify coreferences like "my sister has dog.She loves him" to "My sister has dog.My sister loves dog.""

[2019-02-17 14:12] #136 closed

[2019-02-17 14:12] yash97 commented on #136
No problem read the doc

[2019-02-18 03:41] zou-longkun opened #137 "AttributeError: [E046] Can't retrieve unregistered extension attribute 'has_coref'."
Hello, While executing project I am facing the following issue please help ?
File "test.py", line 6, in <module>
    print(doc._.has_coref)
  File "C:\Users\Longkun\Anaconda3\lib\site-packages\spacy\tokens\underscore.py", line 28, in __getattr__
    raise AttributeError(Errors.E046.format(name=name))
AttributeError: [E046] Can't retrieve unregistered extension attribute 'has_coref'. Did you forget

[2019-02-18 03:45] zou-longkun commented on #132
I have encountered the same problem, but I don't know how to modify it. Have you solved it? Can you teach me?

[2019-02-18 04:09] zou-longkun commented on #137
I have solved this issue. Just reinstall the 'MODEL_URL' , try :
pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz

[2019-02-18 04:10] zou-longkun commented on #132
I have solved this issue. Just reinstall the 'MODEL_URL' , try :
pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz

[2019-02-18 09:10] suriak commented on #103
Faced the same issue and got resolved by using `spacy==2.0.12 `

`import spacy
spacy.__version__
'2.0.12'
import en_coref_md
nlp = en_coref_md.load()
doc = nlp(u'John owns a car. He is rich')
doc._.coref_clusters
[John: [John, He]]`

[2019-02-20 09:47] sumitdas1984 commented on #46
facing the same issue.
pip install https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_sm-3.0.0/en_coref_sm-3.0.0.tar.gz

  ----------------------------------------
  Failed building wheel for en-coref-sm
  Running setup.py clean for en-coref-sm
Failed to build en-coref-sm
Installing collected packages: en-coref-sm, regex
  Running setup.py install for en-coref-sm ... erro

[2019-02-20 09:50] sumitdas1984 commented on #46
Installed Visual C++ build tool that matches the version as pointed out by previous replies. But still getting the same error.
System configuration where I'm trying this out
Windows Server 2012 R2
64 bit
Python 3.6.8

Please help me resolving this issue.

[2019-02-20 14:58] RasmusIven commented on #97
solution presented by @ecarlson6022 and @JohnGiorg don't do it for me, I still recieve a fatal error: 'ios' file not found #include "ios"

[2019-02-21 18:30] #77 closed

[2019-02-22 19:13] ewengillies commented on #81
So I've done some terrible things, but I managed to hack around this. **Note** if you can, *please* install it via pip the way the creators intended.  The models worked flawlessly for me when I did this.

I have a very special use case that benefits from dynamically loading the different en_coref_XX models from local directories.

Now into the dangerzone. If you look at the `__init__.py` for the c

[2019-03-04 06:06] pertschuk opened #138 "Issue With Character Embeddings <=0"
[code]

[2019-03-04 06:08] #138 closed

[2019-03-04 18:54] j07nikita opened #139 "Retrieve mention scores"
How to retrieve mention scores ? Running **doc._.coref_scores** gives error (Can't retrieve unregistered extension attribute 'coref_scores').

[2019-03-09 03:25] #134 closed

[2019-03-09 08:44] DomHudson commented on #117
As @ahalterman says you can enable the sentence boundary detection by including the parser. You can also add just the sentence boundary detection like so:
[code]

However, it is not clear to me whether this will generate the same sentence boundaries as the case where the parser is included.

[2019-03-11 20:08] folterj commented on #76
How can we get neuralcoref (models) to work with spaCy 2.0.0.18 (published dec 2018) - making the original question very valid.

Indeed the page describes neurocoref can be downloaded from source (assuming this serves a point):
https://github.com/huggingface/neuralcoref#install-neuralcoref-from-source
So can we get the coref models to work with this?

[2019-03-12 17:05] Abhishek-Arora commented on #97
Thank you! This worked for me.

[2019-03-12 17:29] ShirleyHan6 opened #140 "AttributeError in Linux Docker"
$ docker run 497beca30113
Traceback (most recent call last):
  File "CorefBot/server.py", line 4, in <module>
    import wikicrawler as wk
  File "/CorefBot/CorefBot/wikicrawler.py", line 13, in <module>
    nlp = spacy.load('en_coref_md')
  File "/opt/conda/lib/python3.6/site-packages/spacy/__init__.py", line 21, in load
    return util.load_model(name, **overrides)
  File "/opt/conda/lib/python3

[2019-03-13 01:02] #140 closed

[2019-03-15 02:37] akshayakp97 opened #141 "File "neuralcoref.pyx", line 101, in init en_coref_sm.neuralcoref.neuralcoref TypeError: must be char, not unicode"
I am using
Python 2.7
neuralcoref 3.1
spacy 2.0.12
thinc 6.10.3

MacOS High Sierra 10.13.4
I tried with both 'en_coref_sm' and 'en_coref_md'.

I tried switching spacy versions also. (To 2.0.18 and 2.0.13).
I have been getting errors such as "ValueError: cymem.cymem.Pool has the wrong size, try recompiling. Expected 64, got 48"
and
"ValueError: spacy.strings.StringStore has the wrong size, try reco

[2019-03-16 18:32] asadnawaz126 commented on #133
@suwangcompling how did you fix this? I'm still getting the error

[2019-03-17 19:05] riyer15 opened #142 "Install Errors with neuralcoref"
`MacBooks-MacBook-Pro:neuralcoref macbookpro$ pip install -e .
Obtaining file:///Users/macbookpro/Documents/Penn-Year-4/senior-design/neuralcoref
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
    ModuleNotFoundError: No module named 'Cython'
    Processing neuralcoref.pyx
    Traceback (most recent call

[2019-03-17 19:20] riyer15 commented on #142
Fixed - Had to sudo pip install Cython in the neuralcoref directory.

[2019-03-17 19:20] #142 closed

[2019-03-23 15:05] ariba-05 opened #143 "Numpy arrays for mention features"
Could someone explain the structure of numpy arrays for mention features output by conllparser.py

[2019-03-25 20:41] MinHyung-Kang commented on #70
Bumping this issue! Would be very helpful to be able to access them.

[2019-03-26 12:49] kartikeyaSh commented on #141
@akshayakp97 ```pip install spacy==2.0.13``` got it to work.
for more refer this issue : https://github.com/huggingface/neuralcoref/issues/102

[2019-04-01 15:01] ameyn21 opened #145 "Doesnt this work with Spacy 2.1.3 ?"

[2019-04-01 15:04] ameyn21 commented on #126
Is this available now ?

[2019-04-04 19:12] sidnarayanan opened #147 "Cannot load model: python 3.6/3.7, spacy 2.1.3"
Hi!

I'm having a bit of trouble installing any of the neuralcoref models. I've tried the following steps on Ubuntu 18.04 (python 3.6.7) and OSX Mojave (3.7.3).

1. Install spacy 2.1.3, check that I can properly load and run models.
2. Install a neuralcoref model via pip:
[code]
3. Try to load the model, either by importing it directly or loading via spacy:
[code]

I've checked both the medium and

[2019-04-05 08:53] dpasch01 commented on #147
Same error here. I am using the medium model with spaCy 2.1.3 and python 3.6.7

[2019-04-05 14:59] sidnarayanan commented on #147
As a temporary fix, I was able to install the development branch from source, and it appears to work fine. Still, it would be helpful to understand why the official release doesn't work, since I think I'm using a pretty vanilla environment.

[2019-04-05 15:41] kaushik88 commented on #79
Any solution to this?

[2019-04-06 00:47] kaushik88 opened #148 "Checkpoint to weights"
Hi,

I've trained a new model following the instructions and I've got a checkpoint file. How do I extract the weights from the checkpoint file?

[2019-04-06 01:12] kaushik88 commented on #104
@jdliu18 - did you figure out a way to do this?

[2019-04-07 00:17] petermartigny commented on #133
Hello!
I'm having the same issues (using spacy==2.0.12).

[2019-04-09 06:14] Vimos commented on #147
Today, the master branch seems the same with dev branch, I also get the same error.
[code]

However, after download a new SpaCy model, the error is gone.
[code]

[2019-04-09 13:21] sidnarayanan commented on #147
Indeed, looks like 4.0 is the official release now. Guess this issue can be closed.

[2019-04-09 13:21] #147 closed

[2019-04-10 23:50] yangchangli commented on #117
Hello, I have this error, what should I do?
Below is my code：
STOP_WORDS = stopwords.words('english')
nlp = English()
nlp.add_pipe(nlp.create_pipe('sentencizer'))

def normalize(text):#对文本进行处理，返回列表，列表的每个元素时字符串
    text = text.lower().strip()
    doc = nlp(text)#doc具有了nlp的属性方法
    filtered_sentences = []
    for sentence in tqdm(doc.sents):##################The error is here
        filtered_tokens

[2019-04-11 01:04] yangchangli commented on #117
@DomHudson @ahalterman

[2019-04-11 11:58] suwangcompling commented on #133
I didn't. Upgrading to spacy==2.1.3 the problem automatically went away.
I imagine neither digging into the source code nor waiting for a reply is ideal, if trying different versions doesn't work, I myself would go straight to an alternative tool (e.g. Stanford CoreNLP).

[2019-04-11 12:07] thomwolf commented on #31
Hi this has been added in the latest release (4.0).

[2019-04-11 12:07] #31 closed

[2019-04-11 12:07] thomwolf commented on #42
Ok this should be fixed in the latest release (4.0).

[2019-04-11 12:07] #42 closed

[2019-04-11 12:08] thomwolf commented on #48
This should be fixed in the latest release (4.0).

[2019-04-11 12:08] #48 closed

[2019-04-11 12:08] thomwolf commented on #57
This should also be fixed in the latest release (4.0).

[2019-04-11 12:08] #57 closed

[2019-04-11 12:09] thomwolf commented on #58
Hi @theSage21, I finally found time to work on NeuralCoref.
This should be fixed in the new release (4.0).

[2019-04-11 12:09] #58 closed

[2019-04-11 12:09] #61 closed

[2019-04-11 12:10] thomwolf commented on #62
This is fixed now.

[2019-04-11 12:10] #62 closed

[2019-04-11 12:11] thomwolf commented on #64
This is fixed now.

[2019-04-11 12:11] #64 closed

[2019-04-11 12:11] thomwolf commented on #67
I finally found time to work on NeuralCoref again.
This is now fixed in the new release (4.0) in which the NeuralCoref model is decorelated from SpaCy.

[2019-04-11 12:11] #67 closed

[2019-04-11 12:12] thomwolf commented on #69
There is now an adjustable `greedyness` coefficient (see readme for the new release 4.0)

[2019-04-11 12:12] #69 closed

[2019-04-11 12:13] thomwolf commented on #70
Added in the new version (see the readme for the new release 4.0).

[2019-04-11 12:13] #70 closed

[2019-04-11 12:14] thomwolf commented on #113
It used to be just different SpaCy models with the same NeuralCoref.
In the new release (4.0) there is just a single NeuralCoref model and you can use whatever (English) SpaCy model you want.

[2019-04-11 12:14] #113 closed

[2019-04-11 12:14] #114 closed

[2019-04-11 12:16] thomwolf commented on #116
This should all be fixed in the new release (4.0).
With the simpler dependency structure of SpaCy 2.1+, it should be easier to the installation straightforward in the future.

[2019-04-11 12:16] #116 closed

[2019-04-11 12:16] thomwolf commented on #117
This should also be fixed in the new release (4.0) and SpaCy 2.1+.
Please open a new issue if there is still a problem.

[2019-04-11 12:16] #117 closed

[2019-04-11 12:17] thomwolf commented on #119
Yes, updating the training scripts is my next to-do.

[2019-04-11 12:19] thomwolf commented on #121
The training scripts are out-dated for the moment. Up-dating them is next on my to-do list for this repo but I don't have an ETA for the moment.

[2019-04-11 12:19] thomwolf commented on #122
This should be fixed in the new release (4.0)

[2019-04-11 12:19] #122 closed

[2019-04-11 12:20] thomwolf commented on #123
This should also be fixed in the new release (4.0).
Please open a new issue if it's not the case.

[2019-04-11 12:20] #123 closed

[2019-04-11 12:22] thomwolf commented on #124
Hi,
This use to be necessary when we where using a python slow code. The cython code is a lot faster so continuous coreference make a lot less sense. It's also a lot more difficult to do now that we are tightly integrated with SpaCy.
I don't think we will add this feature back (but feel free to open a PR if you want to give it a go).

[2019-04-11 12:22] #124 closed

[2019-04-11 12:23] thomwolf commented on #125
Hi this should all be fixed in the new release (4.0) and with SpaCy 2.1+.
Please open a new issue if you still experience issues.

[2019-04-11 12:23] #125 closed

[2019-04-11 12:23] thomwolf commented on #126
Yes!

[2019-04-11 12:23] #126 closed

[2019-04-11 12:24] thomwolf commented on #127
Hi, what is your use-case for the mention type of a span?

[2019-04-11 12:24] thomwolf commented on #128
Hi, the training scripts are out-dated for now. Updating then is next on my to-do list but I don't have an ETA for the moment.

[2019-04-11 12:24] #128 closed

[2019-04-11 12:25] thomwolf commented on #129
The latest release (4.0) is now on PyPI

[2019-04-11 12:25] #129 closed

[2019-04-11 12:25] thomwolf commented on #130
Yes, the training scripts are out-dated for now. Updating then is next on my to-do list but I don't have an ETA for the moment.

[2019-04-11 12:25] #130 closed

[2019-04-11 12:26] thomwolf commented on #132
This should be fixed in the latest release (4.0)

[2019-04-11 12:26] #132 closed

[2019-04-11 12:27] thomwolf commented on #133
Hi, all these installation issue should be fixed in the latest release (4.0) and with SpaCy 2.1+
Feel free to open a new issue if you still experience installation problems.

[2019-04-11 12:27] #133 closed

[2019-04-11 12:28] thomwolf commented on #135
Maybe we should add a debug feature to extract the mentions and scores even when a co-reference is not detected. I'll give a try in a future release.

[2019-04-11 12:28] thomwolf commented on #137
Hi, this  should be fixed in the latest release (4.0) and with SpaCy 2.1+
Feel free to open a new issue if you still experience issues.

[2019-04-11 12:28] #137 closed

[2019-04-11 12:29] thomwolf commented on #139
We now also annotate the score in the new release (4.0). See the README for details.

[2019-04-11 12:29] #139 closed

[2019-04-11 12:29] thomwolf commented on #141
Hi, these installation issue should be fixed in the latest release (4.0) and with SpaCy 2.1+
Feel free to open a new issue if you still experience installation problems.

[2019-04-11 12:29] #141 closed

[2019-04-11 12:31] JohnGiorgi commented on #129
Awesome, thanks!

[2019-04-11 12:31] thomwolf commented on #145
The new release (4.0) is compatible with SpaCy 2.1+ (and on PyPI now). See the README for more details.

[2019-04-11 12:31] #145 closed

[2019-04-11 12:33] thomwolf commented on #72
These installation issues should be fixed in the new release (4.0) with SpaCy 2.1+ (which is also on PyPI now). See the README for more details.
Please open a new issue if you still experience problems.

[2019-04-11 12:33] #72 closed

[2019-04-11 12:34] thomwolf commented on #73
Should be fixed now.

[2019-04-11 12:34] #73 closed

[2019-04-11 12:34] #74 closed

[2019-04-11 12:34] thomwolf commented on #76
This should be fixed in the new release (4.0) with SpaCy 2.1+ (which is also on PyPI now).
We should be compatible with any SpaCy model now.
Please open a new issue if you still experience issues.

[2019-04-11 12:34] #76 closed

[2019-04-11 12:35] #78 closed

[2019-04-11 12:35] thomwolf commented on #79
This should be fixed in the new release (4.0) with SpaCy 2.1+ (which is also on PyPI now).
NeuralCoref should be compatible with any (English) SpaCy model now.
Please open a new issue if you still experience issues.

[2019-04-11 12:35] #79 closed

[2019-04-11 12:36] thomwolf commented on #81
This should be fixed in the new release (4.0) which is on PyPI.
Please check the README for details.
Fell free to open a new issue if you still experience installation problems.

[2019-04-11 12:36] #81 closed

[2019-04-11 12:49] thomwolf commented on #82
Still an issue in the current version 4.0, I will try to fix this.

[2019-04-11 12:53] thomwolf commented on #83
This now runs without error on the latest version (NeuralCoref 4.0 and SpaCy 2.1.3)

[2019-04-11 12:53] #83 closed

[2019-04-11 12:54] thomwolf commented on #89
Yes, the training scripts are outdated. They are next on my to-do but I don't have an ETA yet.

[2019-04-11 12:54] #89 closed

[2019-04-11 12:54] thomwolf commented on #92
The latest release (4.0) now outputs coreference scores.

[2019-04-11 12:54] #92 closed

[2019-04-11 12:55] thomwolf commented on #97
All these installation errors should be fixed in the new release (4.0).
Installation can now be simply done with pip (see the README for details).

[2019-04-11 12:55] #97 closed

[2019-04-11 12:55] thomwolf commented on #98
Fixed in the new release (4.0).

[2019-04-11 12:55] #98 closed

[2019-04-11 12:57] thomwolf commented on #99
Hi, none that I'm aware of unfortunately. In the new release (0.4), you can use the `greedyness`parameter to adjust the comparison between singleton and pairwise scores.

[2019-04-11 12:57] #99 closed

[2019-04-11 12:58] thomwolf commented on #100
Yes our demo is still based on NeuralCoref 2.0
The new release (NeuralCoref 4.0) now outputs the coreference scores as well (see the README for details).

[2019-04-11 12:58] #100 closed

[2019-04-11 12:59] thomwolf commented on #101
Fixed now.

[2019-04-11 12:59] #101 closed

[2019-04-11 12:59] thomwolf commented on #102
All these issues should be fixed with the new release (NeuralCoref 4.0) and SpaCy 2.1+.
Feel free to open new issues if some installation problem are still there.

[2019-04-11 12:59] #102 closed

[2019-04-11 13:00] thomwolf commented on #103
Should be fixed with the new release (NeuralCoref 4.0) and SpaCy 2.1+.
Feel free to open new issues if some installation problem are still there.
Please check the README for the new installation instructions (simpler now).

[2019-04-11 13:00] #103 closed

[2019-04-11 13:00] thomwolf commented on #104
Should be fixed with the new release (NeuralCoref 4.0) and SpaCy 2.1+.
You can now use any SpaCy (English) model.
Please check the README for the new installation instructions.

[2019-04-11 13:00] #104 closed

[2019-04-11 13:02] thomwolf commented on #107
That's very cool!
The new version (4.0) has a smaller model since we are now independent of SpaCy models.
Feel free to tell me if you try to convert it and experience issues with a R-Pi.

[2019-04-11 13:03] thomwolf commented on #108
The new release (NeuralCoref 4.0) is now independent of SpaCy models and can be integrated in any SpaCy (English) pipeline. Please check the README for the new usage instructions and details.

[2019-04-11 13:03] #108 closed

[2019-04-11 13:07] thomwolf commented on #109
I don't think there is any clean way to modify the tokens of a SpaCy Doc once it has been tokenized so unfortunately your method is probably the simplest one.

You may want to open an issue on SpaCy's github if this is a serious issue.

[2019-04-11 13:07] #109 closed

[2019-04-11 13:12] thomwolf commented on #110
I see. This error is still there in version 4.0.
I'll open an issue on SpaCy's github for this.

[2019-04-11 13:23] thomwolf commented on #110
For now, the simplest solution is just to re-run the neuralcoref pipeline component on the retokenized document after the merges (please also note that the recomended way to do merges has evolved now. Here is a fixed example

[code]

[2019-04-11 13:25] thomwolf commented on #111
Hi, here are some answers:
- using ELMo/Flair/BERT: yes probably :)
- filtering: yes I think filtering is the easiest way to do it.

[2019-04-11 13:25] #111 closed

[2019-04-11 13:25] thomwolf commented on #112
Hi, the latest version (4.0) can now be installed with pip.
Please check the README for the new (simpler) installation instructions.

[2019-04-11 13:25] #112 closed

[2019-04-11 13:26] #107 closed

[2019-04-11 13:28] thomwolf commented on #131
The training scripts are currently out-dated. I'm closing this for now as there are already many issues open on training (and I'll probably completely refactor the training scripts when I'll update them).

[2019-04-11 13:28] #131 closed

[2019-04-11 15:11] akshayakp97 commented on #141
The latest version works.
Thanks!

[2019-04-14 15:20] arnicas opened #150 "Clarify in the docs how to get 'en_coref_sm' which is in your server.py example?"
It seems that python -m spacy download en_coref_sm doesn't install the neural coref model... and the server.py example just fails without any info on this.  Probably just needs a doc line in the README about what to do here?

Thanks, Lynn

[2019-04-15 01:29] eukaryote31 opened #151 "Possessive pronouns"
Right now, possessive pronouns aren't resolved very well:

For example:
[code]
Results in:
[code]

[2019-04-15 06:05] joe32140 commented on #127
Thanks for your response!
I want to replace coreference with its root. For example, mention in "PRONOMINAL" needs to be replaced with the root with other mention types. Is there any existing function about this replacement that I missed?

[2019-04-15 07:14] thomwolf commented on #151
Actually, "resolving" is an ill-defined operation and has no really good answer (in particular in terms of identifying a mention that could be used to replace all other mentions).
It's provided as a way to extract a simple result from NeuralCoref as a string but the coreference clusters are the real output of the algorithm.

[2019-04-15 07:14] #151 closed

[2019-04-15 07:16] thomwolf commented on #127
Do you have an example?
`doc._.coref_resolved ` doesn't do the trick?

[2019-04-15 07:27] thomwolf commented on #150
Oh you are right, the `server.py` example is out-dated now.
I'll update it to be compatible with NeuralCoref 4.0

[2019-04-16 18:25] thomwolf commented on #6
It should be [`doc._.coref_resolved`](https://github.com/huggingface/neuralcoref#using-neuralcoref).

[2019-04-18 07:27] #150 closed

[2019-04-18 07:28] thomwolf commented on #150
Ok this is fixed now, and I've added a more detailed section on using `server.py` in the readme [here](https://github.com/huggingface/neuralcoref#using-neuralcoref-as-a-server).

[2019-04-18 16:17] #32 closed

[2019-04-18 16:17] #34 closed

[2019-04-18 16:17] #35 closed

[2019-04-18 16:17] #45 closed

[2019-04-18 16:17] #68 closed

[2019-04-18 16:17] #60 closed

[2019-04-21 16:23] swartchris8 opened #153 "How to move to pip release from using old downloaded model?"
So I am looking for a way to pip install `neuralcoref` with spacy 2.0.x

Currently I am using the old 3.0.0 coref lg pretrained spacy model https://github.com/huggingface/neuralcoref-models/releases/download/en_coref_lg-3.0.0/en_coref_lg-3.0.0.tar.gz

I would like to move the pip version of neuralcoref 3.0.0 due to coming across `spacy.strings.StringStore size changed, may indicate binary incompat

[2019-04-23 09:35] thomwolf commented on #153
Hi @swartchris8, we don't plan to keep compatibility with SpaCy 2.0 as it's dependency structure was the source of most installation issues to arise in the last months and SpaCy 2.1 is a lot easier to handle.

NeuralCoref 4.0 is also a major update of NeuralCoref 3.0 so you won't be able to mix the model of one with the code of the other.

What happens when you follow the instructions of installat

[2019-04-23 09:46] swartchris8 commented on #153
Following the `pip install neuralcoref` instructions from the current README leads me to this error:

`File "neuralcoref.pyx", line 854, in neuralcoref.neuralcoref.NeuralCoref.get_static File "vectors.pyx", line 116, in spacy.vectors.Vectors.__getitem__ KeyError: 77186543510594498`

which you seem to have fixed in `4.0.0` based on this issee #98

[2019-04-23 09:52] thomwolf commented on #153
What os, version of python and spacy are you using?

[2019-04-23 10:07] swartchris8 commented on #153
This was in a python:2.7.16-jessie Docker image with spacy==2.0.13

[2019-04-23 10:20] thomwolf commented on #153
Ok, I'm afraid I can't really help you more since we've droped compatibility with spacy 2.0...
If you happened to find a work-around you can share here as it might help others.

Out of curiosity, what is preventing you from moving to SpaCy 2.1?

[2019-04-23 21:53] danem opened #154 "Breaks Displacy"
When neuralcoref is added to the processing pipeline, Displacy.render becomes unusable.

[code]
Here is the stack trace:

[code]

[2019-04-24 06:08] thomwolf commented on #154
Thanks for catching it. It's the same underlying problem than #82.
We need to update `Cluster` class serialization.
I'll work on that when I'm on the next release.

[2019-04-24 09:11] saippuakauppias commented on #103
@thomwolf not fixed for:
[code]
And:
[code]

[2019-04-24 09:15] thomwolf commented on #103
What happens when you follow the [instructions in the readme](https://github.com/huggingface/neuralcoref#spacystringsstringstore-size-changed-error) for this error?

[2019-04-24 09:18] saippuakauppias commented on #103
That helped!
Thank you, I did not read carefully and missed this moment.

[2019-04-24 16:26] MHDBST opened #155 "SystemError: [E130] You are running a narrow unicode build, which is incompatible with spacy >= 2.1.0. To fix this, reinstall Python and use a wide unicode build instead. You can also rebuild Python and set the --enable-unicode=ucs4 flag."
I have installed NeuralCoref using --no-binary command, when I want to use it inside the Jupiter in version 3 I get the following error:

SystemError: [E130] You are running a narrow unicode build, which is incompatible with spacy >= 2.1.0. To fix this, reinstall Python and use a wide unicode build instead. You can also rebuild Python and set the --enable-unicode=ucs4 flag.

How can I solve this i

[2019-04-24 19:28] thomwolf commented on #155
Can you use a python 3 kernel?

[2019-04-26 09:31] mehdiHadji commented on #6
thanks i saw that

[2019-04-28 17:46] swartchris8 commented on #153
Long story short we have some dependencies on a 2.0.x and I thought we might need to stay on 2.0 due to some weird Python 2 unicode width requirements.

[2019-04-30 15:24] bmizhen-exos commented on #102
Same problem.

Python 3.7 on Mac
neuralcoref     4.0
spacy           2.1.3
[code]

[code]

[2019-04-30 15:27] bmizhen-exos opened #156 "cymem.cymem.Pool has the wrong size"
Same problem as #102

Python 3.7 on Mac
neuralcoref 4.0
spacy 2.1.3
[code]

[code]

[2019-04-30 18:55] paudelra commented on #102
Same issue here as well

[2019-04-30 21:38] danyaljj opened #157 "Performance?"
Hi there,

Thanks for the nice package!

Are there any performance comparisons with other systems? (say, Lee et el'18: https://arxiv.org/pdf/1804.05392.pdf).

[2019-05-02 09:36] svlandeg opened #158 "binary incompatibility"
I'm using the current spaCy from the master branch, and getting this error:

I'm assuming this happens because `span.pxd` has changed after the 2.1 release: https://github.com/explosion/spaCy/commits/master/spacy/tokens/span.pxd

I tried reinstalling with

But the warning remains and the program crashes when I run `nlp(doc)`:

Any idea on how to fix this? I'm compiling spaCy from sources too, so I

[2019-05-03 14:24] sampathkumarch opened #159 "python: can't open file 'setup.py': [Errno 2] No such file or directory"

[2019-05-03 20:49] rupimanoj opened #160 "Wrong mention span initialization from gold corefs"
In the conllparser.py script, when code is configured to use gold corefs I believe there is a mistake in creating mentions for a document.
[code]
In the above code, for the first argument in the Mention constructor arguments, it should be ```parsed[coref['start']:coref['end']+1] ```. Please correct me if I am wrong.

[2019-05-05 02:17] LaplandSnowy opened #161 "Failed building wheel for en-coref-md"
pip install en_coref_md-3.0.0.tar.gz
Processing c:\users\cher\desktop\en_coref_md-3.0.0.tar.gz
Requirement already satisfied: spacy>=>=2.0.0 in c:\users\cher\anaconda3\lib\site-packages (from en-coref-md==3.0.0) (2.1.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\cher\anaconda3\lib\site-packages (from spacy>=>=2.0.0->en-coref-md==3.0.0) (2.21.0)
Requirement already satisfied

[2019-05-05 07:43] thomwolf commented on #161
You should switch to the new version 4.0 (see the readme).

[2019-05-06 22:27] MHDBST commented on #155
@thomwolf I had to remove everything and reinstall python3, the problem solved.

[2019-05-06 22:27] #155 closed

[2019-05-09 19:56] LaplandSnowy commented on #161
Thanks so much! It's working now!

[2019-05-09 20:26] #161 closed

[2019-05-09 20:26] thomwolf commented on #161
Happy to hear that!

[2019-05-10 05:56] pradipcyb opened #162 "Citation in publication"
Can you provide an article so that this work can be cited?

[2019-05-13 03:19] anamamatelashvili opened #163 "Allowing for custom blacklist"
Hi,

Thanks a lot for this amazing extension to spaCy. I have used it in a project and it was very helpful.

I was wondering if it is possible to add a feature where one can pass a custom list for the blacklist parameter.

For instance:
If blacklist is enabled
[code]
returns "I really liked that ice cream. My dog did not." unchanged.

However, 'we', 'out', 'us' are not in the blacklist, so,
[code]

[2019-05-14 01:54] Vimos commented on #82
Similar issue with directly pickling the doc.

[code]

[2019-05-14 07:31] ndeku commented on #158
I had the same issue. I downgraded Spacy from 2.1.4 to 2.1.0 and numpy to 1.14.5 to resolve.

This Spacy issue seems relevant (and still unresolved?): https://github.com/explosion/spaCy/issues/2798

[2019-05-14 07:38] Vergir commented on #158
Had same issue, downgrading spacy to 2.1.0 worked for me as well.

[2019-05-14 07:40] svlandeg commented on #158
That's not an option for me unfortunately, I need certain new features in spaCy from after the 2.1 release...

[2019-05-14 12:45] dmmiller612 opened #164 "Segmentation Fault: neuralcoref==0.4.0 & spacy==2.1.4"
Hello, first of all, I wanted to mention that this is an awesome library. I am building a library around both this repository and your BERT implementations for extractive text summarization.

I recently noticed that I am getting a segmentation fault with spacy==2.1.4 and neuralcoref==0.4.0. I have tried this on ubuntu 18.04 and macOS. Spacy==2.1.3 seems to be working fine. The code below reproduce

[2019-05-15 05:59] haroonhassan commented on #154
@thomwolf I am annotating my spacy Doc objects with custom extensions that are classes as well, and breaking displacy  in the same way. Just curious, but why does displacy need to serlialize custom_extensions when visualising in dep style for example?

[2019-05-17 10:57] mdtux89 opened #165 "Coreference type as in demo"
Hi, in the demo, each coreference link is associated with a type (e.g. pronomial, nominal). However, I can't find that info in the python API.

[2019-05-19 18:12] mdrago98 commented on #164
Is this issue reproduced in spacy 2.13?

[2019-05-19 19:05] dmmiller612 commented on #164
As an update, spacy 2.1.3 does not have an issue and works fine. I have only seen the issue in spacy==2.1.4

[2019-05-20 21:04] hiwaveSupport commented on #103
I am getting the same issue.
Followed your readme as-is to uninstall and reinstall using --no-binary, spacy install worked and model download worked.
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.tokens.span.Span size changed, may indicate binary incompatibility. Expected 72 from C header, got 80 from PyObject
  return f(*args, **kwds)
Segmentation fault (core dumped)

[2019-05-25 03:27] cheevahagadog commented on #158
I too had to uninstall neuralcoref and re-install without binaries. Then I downgraded spaCy from 2.1.4 to 2.1.0 but I didn't have to change my numpy (still at 1.15.0). Seems to be working great now.

[2019-05-28 10:52] Gunjitbedi commented on #158
Yes, downgrading to 2.1.0 does seems to work

[2019-05-30 12:23] sairaza opened #166 "Getting error while creating doc, post adding neuralcoref to the spacy pipeline in Windows."
Python : 3.7
Spacy Version : 2.1.4,
neuralcoref version : 4.0,

import spacy
import neuralcoref
nlp = spacy.load('en_core_web_sm')
neuralcoref.add_to_pipe(nlp)
doc = nlp(u"My sister has a dog. She loves him")

While running this code on Spyder, kernel is getting killed when executing the last line.

Exact Error:
An error ocurred while starting the kernel
May 30, 2019 3:29:04 PM
org.apache.pdfbox.p

[2019-05-30 23:39] omstuhler commented on #103
I have no issues installing via `pip install neuralcoref`. However I get the same warning as above when trying to `import neuralcoref`:

[code]

I can even add the neuralcoref to a pipeline without getting an error:

[code]

However, when trying to run the pipeline, my kernel dies.

spacy 2.1.4
Python 3.6.8
neuralcoref 4.0
mac

On a further note, when trying to install via `pip install neuralcoref

[2019-06-02 10:36] RandomForestGump opened #167 "Python stopped Working"
Hi,

I am a windows 10 user,  working on spacy 2.1.4 with english web-lg model(v2.1.0)
After adding neuralcoref to pipeline, I am getting a Python stopped working error as soon as I parse.

Wanted to know what is causing this error.

[2019-06-04 21:53] rudraksh97 commented on #58
I am using en_coref_md. I am getting this error. How to resolve this?

[2019-06-05 23:45] codewpf commented on #167
I have a some issue, but my code enviroment is macOS  and spacy 2.1.4 with en_core_web_sm. The python crashed when I run the sample code which crashed on 'neuralcoref.add_to_pipe(nlp)'.

[2019-06-06 10:21] liu357592109 commented on #167
Same issue with macOS and spacy 2.1.4.  The error message is "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)"

[2019-06-06 20:41] ChengYJon commented on #103
similar to omstuhler, I followed the readme. The download and install works fine.

Importing results in: RuntimeWarning: spacy.tokens.span.Span size changed, may indicate binary incompatibility. Expected 72 from C header, got 80 from PyObject
  return f(*args, **kwds)

[2019-06-07 13:36] mmxgn commented on #167
Same issue with SpaCy 2.1.4 and linux (python=3.7.3). Kernel gets restarted as soon as I try to parse a sentence.

[2019-06-08 11:55] LukasHaas commented on #167
Same issue with JupyterNotebook. Kernel gets restarted after parsing a sentence. Model ‘en’ works fine without neuralcoref.

[2019-06-11 06:03] SrGrace commented on #164
its not even working with spacy==2.1.3. Segmentation fault :(

[2019-06-12 03:52] taku-ito commented on #167
It worked after changing the Spacy's version to 2.1.0

[2019-06-12 06:44] KalidindiMounika commented on #79
Can any one please share italian connl dataset.

[2019-06-12 09:07] KalidindiMounika opened #168 "Dataset and Training steps of neuralcoref for italian"
Hi,
If any one has an idea of where I can find conll italian datset then please share here.

[2019-06-13 07:00] mmxgn commented on #167
It also works for Spacy 2.1.3. Seems 2.1.4 is the one causing the problems. Any advise on how to debug it?

[2019-06-13 07:02] mmxgn commented on #164
I think this is a duplicate of: https://github.com/huggingface/neuralcoref/issues/167

Neuralcoref (4.0 - from pip) works with 2.1.3 here.

[2019-06-14 10:18] KalidindiMounika commented on #168
The LDC ontonotes supports Chinese,English and Arabic. There is no support for italian language.
How can I train a model for Italian language without having ontoNotes and conll format files?

[2019-06-17 05:45] SrGrace commented on #164
Yeah, I created a new venv and then installed it with spacy==2.1.3. working fine!

[2019-06-17 09:09] KalidindiMounika opened #169 "Neuralcoref is modifying Noun in text"
Neuralcoref is modifying the Noun in the below sentence.
In the below example Valli is modified to prasanna. There are many such scenarios.

Input : weather in chennai. I want author Prasanna book. I want author Valli book.
Output: weather in chennai. I want author Prasanna book. I want author Prasanna book.

Kindly help me out to resolve this issue.

[2019-06-17 11:58] RohanBh opened #170 "Error while installing v4.0 on Windows"
I tried installing both via pip and from the source. This is the error I'm getting:
[code]
I do have Visual C++ 14 installed.

[2019-06-17 13:22] #119 closed

[2019-06-17 14:22] #148 closed

[2019-06-17 14:22] #110 closed

[2019-06-17 14:22] #143 closed

[2019-06-17 14:22] #135 closed

[2019-06-17 19:37] AmanYdv20 opened #171 "Segmentation fault"
Everytime I tried to run my file it shows -
RuntimeWarning: spacy.tokens.span. Span size changed, may indicate binary incompatibity. Expected 72 from C header, got 80 from PyObject
Return f(*args, **kwds)
Segmentation fault

Though I have tried both the way as listed for the installation.

[2019-06-18 07:26] uahmad235 opened #172 "Accuracy Report of model"
Hi,
I am doing a research on co-reference resolution and comparing different models currently available. I have been looking for an accuracy measure of your model but couldn't find it in your GitHub Repo. description nor in your medium blog.

Can you report how much accuracy (F1/Precision/Recall) have you achieved using this model and on which test dataset?
Thank you!

[2019-06-18 10:53] XWTTT opened #173 "FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\a8524\\.neuralcoref_cache\\neuralcoref\\single_model'"

[2019-06-19 06:05] pHequals7 commented on #166
Exact problem, everytime I add neuralcoref to my spaCy pipeline, my kernel dies and have to restart from scartch. Kindly look into this. I'm running Python 3.7, spaCy 2.1 and the latest neuralcoref version

[2019-06-19 09:13] DEEP2907 opened #174 "Can somebody help me to get the italian language corpus to train neuralcoref with other language"
I am planning to train the neuralcoref with italian language and I have coreference annotated italian data but ontonotes is not available with me, do I need to create ontonotes for italian manually ?

[2019-06-20 06:10] KalidindiMounika commented on #79
@valdicarlo  can you please paste link of italian corpus to create a coref model.

Thanks in Advance

[2019-06-20 07:26] valedica commented on #79
Sorry, it’s a proprietary dataset.

[2019-06-20 16:01] dtsonov opened #175 "what version of python is required to run the script ?"
I did try to run the script as described in CoNLL 2012 to produce the *._conll files.
However without any success.
the command:
skeleton2conll.sh  -D [path_to_ontonotes_train_folder] [path_to_skeleton_train_folder]
always returns that "please make sure that you are pointing to the directory 'conll-2012'"
I did all as pointed on the web site and according other posts about that, which i did check.

[2019-06-20 17:20] colby-ham commented on #164
I also was able to get it working using spacy==2.1.3

[2019-06-21 08:31] #127 closed

[2019-06-21 11:46] HagerHosny199 opened #176 "Getting the relation between the plural object and its individual"
I have a problem with this example:

<pre>
Input: "There are two beds. The first bed is in one corner. The second bed is in another corner."
Output:['The first bed in one corner', 'The second bed in another corner']
</pre>

It considers the first and the second bed as one object, so how to solve this problem ?

[2019-06-24 12:09] talbaumel commented on #171
Same here
OS windows 10
Python 3.7.1
PyTorch 1.0,1

[2019-06-27 10:57] rinaldo-rex commented on #171
Have you tried [this?](https://github.com/huggingface/neuralcoref#spacystringsstringstore-size-changed-error)

I suppose this is the documented error mentioned there.

[code]

[2019-06-27 12:07] talbaumel commented on #171
Thanks, but didn't work for me 😔

[2019-06-27 12:45] rinaldo-rex commented on #171
@talbaumel You may have to reinstall spacy along with Neuralcoref. Try with a lower set of versions please? There are issues with recent versions of Spacy with Neuralcoref. Let us know your versions too, so it's easier for others to pitch in. 🙂

Tried and tested:
Python **3.6.8**
spacy **2.1.3** (Note that 2.1.4 is causing the issues #164 )
neuralcoref **4.0.0**

[2019-06-27 13:04] talbaumel commented on #171
spacy version was **2.1.4**
And 2.1.3 is working fine

Thank you!!

[2019-06-27 13:15] rinaldo-rex commented on #171
Awesome! I think this can be marked as **duplicate of** #164 and closed. 🙂

[2019-06-27 14:34] #175 closed

[2019-06-27 14:41] dtsonov opened #177 "prepare the data fails"
When I run:
python -m conllparser --path /data/train/
the processing fails into the function: "build_and_gather_multiple_arrays"
inside which 'arrays' is empty and the output is:

array = np.stack(gathering_dict[feature])
File "C:\Users\user\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\shape_base.py", line 410, in stack
arrays = [asanyarray(arr) for arr in arrays]
TypeError: 'Non

[2019-06-28 02:11] kjaquier commented on #82
Similar issue. Python 3.6.8 64bits on Anaconda, Windows 10.

[code]
[code]

[2019-06-28 02:15] kjaquier commented on #169
Do you have a code snippet that reproduces the issue?

[2019-06-28 22:14] JoelClingempeel opened #178 "error: bad escape \p at position 275"
I'm trying to run the following code and running into trouble.

[code]
I get the following traceback.

[code]

Previously, I was getting a different error message:

`RuntimeWarning: spacy.tokens.span.Span size changed, may indicate binary incompatibility. Expected 72 from C header, got 80 from PyObject`

but managed to get around this by re-installing neuralcoref without binaries.  Based on what I

[2019-07-02 01:21] Peter-E-Lenz commented on #178
I had this issue as well which I resolved by uninstalling and reinstalling en_core_web_md, however that left me with `RuntimeWarning: spacy.tokens.span.Span size changed, may indicate binary incompatibility. Expected 72 from C header, got 80 from PyObject`error

[2019-07-02 06:39] KalidindiMounika commented on #79
@valdicarlo  were you able to build Italian coreference  or any other natural language(except English, Chinese & Arabic)resolution  using neuralcoref

[2019-07-02 06:40] KalidindiMounika commented on #79
@valdicarlo were you able to build Italian or any other natural language coreference(except English, Chinese & Arabic) resolution using neuralcoref

[2019-07-02 07:13] KalidindiMounika commented on #169
Resolved the issue , Thank you

[2019-07-02 07:13] #169 closed

[2019-07-02 15:35] snape6666 opened #179 "Is there something similar for german language?"
Is there something similar for german language? I haven't found anything that works for the German language yet.

[2019-07-03 18:15] michelleful opened #180 "Can coref operate across multiple doc objects?"
I'm interested in applying neuralcoref iteratively as utterances are added to a conversation, as would be the case in a chatbot.

I've explored applying `coref.predict` to a list of `Doc`s, but that applies coreference to each individually, so that mentions aren't correlated across documents.

I'm currently reading through the Cython code to see if I can amend it, but thought I would ask first whe

[2019-07-04 19:00] #153 closed

[2019-07-06 17:00] #156 closed

[2019-07-06 23:00] #157 closed

[2019-07-09 15:08] #159 closed

[2019-07-09 18:14] AmanYdv20 commented on #171
Yeah mine started working with spacy 2.1.0. Thanks

[2019-07-09 18:14] #171 closed

[2019-07-11 08:12] sachinkbarnwal opened #181 "Multiple Subjects in Long Sentence Does Not Work"
Mac OS: 10.14.5
Spacy: 2.1
NeuralCoreRef Version 4.0

Code Snippet:

[code]

Output
[code]

Expected Output:

`Doctor updated teachers. Doctor modifies locations. Order is also modified by Doctor. Admin creates report. Admin also updates report. The Customer steals money. The Customer stole items as well.
`
Please suggest

[2019-07-12 13:25] amandalmia14 commented on #166
@pHequals7 Did you get any workaround ?

[2019-07-12 15:41] pHequals7 commented on #166
Unfortunately no :/

[2019-07-13 09:03] thomwolf commented on #164
Yeah, this is a recurring problem.
I would like to be able to understand how we could keep the library in sync with SpaCy more easily.
I'll see if Matthew and Inès have some insights.

[2019-07-14 03:01] cmckain commented on #164
Recompilation from source after installing spacy was able to solve this problem for me, even on 2.1.6.

![image](https://user-images.githubusercontent.com/21251762/61178761-c33aa500-a5a8-11e9-8905-6e75501aef9b.png)

[2019-07-16 06:44] #162 closed

[2019-07-16 17:21] BvdM0 commented on #103
Same problem as ChengYJon and omstuhler. I followed the readme, and tried pip install neuralcoref --no-binary neuralcoref. When I then run import neuralcoref I still get the error
`/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: spacy.tokens.span.Span size changed, may indicate binary incompatibility. Expected 72 from C header, got 80 fr

[2019-07-17 23:53] kjaquier opened #182 "Span.as_doc() doesn't keep coref_clusters"
Code:
[code]
Output:
[code]
Expected:
[code]

[2019-07-18 00:02] kjaquier commented on #182
Additionally, it might make sense in some cases to keep a reference to the clusters. Since it may introduce inconsistencies, maybe this could be enabled by a specific parameter, as follow:
Code:
[code]
Expected output:
[code]
I don't know how difficult it would be to implement though.

[2019-07-18 05:16] ameyn21 opened #183 "attributeerror: type object neuralcoref.neuralcoref.array has no attribute __reduce_cython"
pyinstaller version: PyInstaller-3.5
OS: Windows10
python version 3.6.7
Cython 0.27.3
spacy 2.1.0.
NeuralCoref 4.0

I am using pyinstaller to package a working code. I get no errors or warnings when running pyinstaller but when trying to execute the resulting .exe file I get the following error:

[2019-07-18 05:17] ameyn21 commented on #183
![neuralcoref](https://user-images.githubusercontent.com/8626077/61430939-6133c400-a949-11e9-8ca8-2a7ae2aab7ff.png)

[2019-07-18 11:09] BvdM0 opened #184 "Quote Attribution"
Is there any way to attribute quotes using neuralcoref, or any compatible code which I could integrate it with to do so?

I switched to neuralcoref from CoreNLP because of its superior coref abilities, but my whole reason for wanting coref is to attribute quotations.

Any help greatly appreciated!

[2019-07-18 12:16] julien-c commented on #184
Do you have an example of what you would like to achieve?

On Thu, Jul 18, 2019 at 7:09 AM BvdM0 <notifications@github.com> wrote:

[2019-07-18 12:32] BvdM0 commented on #184
Sure, I'd like to be able to turn text into quotes and attributed speakers [as CoreNLP does](https://stanfordnlp.github.io/CoreNLP/quote.html). For instance:

_In the summer Joe Smith decided to go on vacation.  He said, "I'm going to Hawaii."  That July, vacationer Joe went to Hawaii._

Would return something like this:

[code]

[2019-07-19 04:37] PAVITHRA-CP commented on #117
Hi,

I am using the sentencizer from spacy to split the document into sentences. The default delimiters in sentencizer is (' . ' , ' ! ' , ' ? ' ). But if i gave a sentence like:

"A fawn was racing in the forest!He was ahead of the rabbit?He was ahead of the elephant."

Its not splitting into 3 sentences. Can anyone help for this.

Thanks in advance.

[2019-07-22 15:06] BramVanroy commented on #158
At first I was afraid this was a Windows related issue. Glad that it is "only" a version issue.

[2019-07-23 09:36] RG97 opened #185 "Running neuralcoref on text files"
Hi the Readme file contains isntructions to run the model on individual sentences, but how can i run this model on a whole text file?

[2019-07-23 12:26] #165 closed

[2019-07-23 14:33] BramVanroy commented on #158
@svlandeg Not sure why you closed this? I guess it can only be closed after pulling https://github.com/huggingface/neuralcoref/pull/186

[2019-07-23 14:39] svlandeg commented on #158
Pinning spaCy to `2.1.0` will prevent this issue for most users, but does not support my use-case where I actually want to use a newer version of spaCy (compiling the current master branch from source). I guess there's always going to be some lag between spaCy changes and a new neuralcoref version, right? So that's why I closed it.

[2019-07-23 14:44] BramVanroy commented on #158
If you can compile from source, and it works, then I'm a bit confused why the pip distribution is lagging behind? If the current source works, pinning to 2.1.0 is not necessary indeed, but then I would expect a distributed version update too. I don't mean that in a "I WANT THIS NOW" way, but it is kind of odd that such an important issue is not pushed to package managers as soon as possible - beca

[2019-07-23 15:02] svlandeg commented on #158
I think there's some miscommunication here... I think your PR of pinning spaCy to 2.1.0 makes a lot of sense and will prevent this issue from popping up for other users. I'm happy to reopen this issue if you think that's necessary.

I initially closed this issue because a solution was provided (downgrading) that seemed to satisfy all other users, and because I started realising that a straightforw

[2019-07-23 16:01] thomwolf commented on #158
Yes, this is

[2019-07-23 20:59] BramVanroy opened #187 "Where is the conll parser?"
In the [instructions](https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/train/training.md) there is a reference to a conll parser and conll processing scripts, but those links are dead. They have been removed but it's not clear to me why.

[2019-07-24 08:29] svlandeg commented on #158
@thomwolf: So just to summarize, I think there are two main issues discussed in this thread:

- Using `neuralcoref` out-of-the-box will install the latest `spaCy` version because of `spacy>=2.1.0` in the `requirements.txt`, but the latest version of spaCy has changes in some of its core Cython files (such as `span.pxd`) so this raises incompatibility issues. For most users, downgrading to spaCy 2.

[2019-07-24 14:30] colingoldberg commented on #158
I don't want to add noise to this thread, but having got the same error message (see below), I want to get a notification when this is fixed. I have provided an error log (if this helps).

[hs_err_pid2470.log](https://github.com/huggingface/neuralcoref/files/3427277/hs_err_pid2470.log)

Steps:
- Error message: `/Users/.../anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: spacy.t

[2019-07-24 15:20] BramVanroy commented on #158
How is Java involved in this?

[2019-07-24 15:29] colingoldberg commented on #158
Probably because I was running inside Visual Studio Code. if not, I do not know.

[2019-07-25 22:26] thomwolf commented on #158
@svlandeg can you confirm that if you build neuralcoref's current master branche from source while having a spacy > 2.1.0 it works?

[2019-07-25 22:45] BramVanroy commented on #158
I installed the current commit (https://github.com/huggingface/neuralcoref/commit/3d12574a9e9474060d8bfbbe3fa8751e9738a3fa) successfully with Python 3.7.3, spaCy 2.1.6.

[2019-07-25 23:18] svlandeg commented on #158
Yep, when I build neuralcoref's master branch from source, in combination with the current spaCy master branch from source, it does work.

[2019-07-28 07:43] KavyaGujjala commented on #94
Hi, Did you download the dataset? If so, how did you do it? Even I am trying to download.

[2019-07-30 06:55] munaAchyuta opened #188 "transfer learning with small size new domain dataset possible ?"
Hi There,

I am using neuralcoref for my project. great work from you. thanks for sharing.

I am trying to use it for clustering sentences related to entity. and i am trying it for finance domain. and what i see , the default model is trained on news dataset. so when i try to use for finance domain , there are many cases where it failed to identify entity. and as you know there can be project spec

[2019-07-30 07:31] Viole-Grace opened #189 "Kernel dies on running doc = nlp(u"abc...xyz")"
I'm using jupyter notebook on gcloud, with a venv for package installation. System image - Ubuntu 16.04

Steps to recreate the error :

`pip3 install neuralcoref`

and then

`import spacy
import neuralcoref

nlp = spacy.load('en')

neuralcoref.add_to_pipe(nlp)
doc = nlp(u'Deepika has a dog. She loves him. The movie star has always been fond of animals')
doc._.coref_clusters
doc._.coref_resolved

`

[2019-07-31 03:48] rrrepos opened #190 "cannot import Coref"
I am trying to install neuralcoref on jupyter on a mac for testing purposes and getting the following errors:

Spacy version is: 2.1.6

I have installed neuralcoref using `pip install neuralcoref` and ensured that the lib has been downloaded in the correct directory

When I try to use the following command as per the pipeline suggestion in Spacy
`from neuralcoref import Coref` it gives an error: `

[2019-07-31 04:15] rrrepos commented on #190
Instead of using the documentation of spaCy I used the one suggested by neuralcoref and it worked. I should have tried this in the first place. My bad. Here is the code that worked.

[code]

[2019-07-31 04:15] #190 closed

[2019-07-31 06:56] Viole-Grace commented on #189
Hi!
I have found that the kernel doesnt die on pipelining, but on using any of the ._. functions from the doc. :
`
doc=nlp(u'I have a dog, and I love her.')
doc._.coref_clusters
`
The code runs perfectly without any problems for :

`
import spacy
import neuralcoref

nlp = spacy.load('en')
neuralcoref.add_to_pipe(nlp)
`

Any work around would be great, thanks!

[2019-07-31 08:01] rrrepos opened #191 "customising dictionary for identifying proper nouns"
When using this wonderful library to identify pronouns to names, it works well for popular names like John and Jane. However, it does not recognise many other names (perhaps due to the dictionary having US names). For example:
[code]
But

[code]

I tried adding
[code]
yet
[code]

Is there any reason it is not accepting the added words? Thanks

[2019-07-31 09:08] munaAchyuta commented on #191
yes, i'm too facing same problem. this is a common issue for new domain . what should be the solution ?
don't see training from beginning with new domain data(small size) is feasible. is there transfer learning possible ?

[2019-08-04 14:58] Aya-S opened #192 "KeyError: "[E002] Can't find factory for 'pytt_wordpiecer'."
[code]
produces this error
KeyError: "[E002] Can't find factory for 'pytt_wordpiecer'. This usually happens when spaCy calls `nlp.create_pipe` with a component name that's not built in - for example, when constructing the pipeline from a model's meta.json. If you're using a custom component, you can write to `Language.factories['pytt_wordpiecer']` or remove it from the model meta and add it via `n

[2019-08-05 14:09] vikrant094 commented on #189
kernel is dying on doc=nlp(u'I have a dog, and I love her.'). not with ._. functions.

[2019-08-05 14:36] Viole-Grace commented on #189
Okay, but either way - any luck solving the problem?

[2019-08-06 04:25] fhopp commented on #189
Same problem here.

[2019-08-06 15:54] fhopp commented on #189
@Viole-Grace @vikrant094 Try to downgrade spacy to 2.1.0.
[code]

That did the trick for me.

[2019-08-07 01:55] ITonly opened #193 "Train the model on chinese OntoNotes 5.0 but eat up all my 64GB memory"
I am training it for Chinese Model to use for event extraction for my company, but I only use part of English data for testing the model, as show in first image(train data ). But it eats up 50% memory(64GB) when build coreference clusters，when I use all data from conll-2012, my memery is 100% and can't run any more. Can you tell me how much memory should I use to train the model, or any other requ

[2019-08-07 20:39] jonathankingfc commented on #158
@svlandeg I am having trouble following your steps. I am working inside of a Docker container. I am currently just using SpaCy 2.1.3 and Neuralcoref 4.0, but I would like to upgrade to 2.1.7 due to the improved NER scorer. I followed the instructions to build both from source inside of my Dockerfile, but it seems that either Neuralcoref or SpaCy is removed from the Python module path. I think it h

[2019-08-08 10:26] svlandeg commented on #158
Hi @jonathankingfc : not sure how to help you without having access to your console ;-) I just created a new environment and installed spaCy from source, and then did the same with neuralcoref. The current `requirements.txt` for neuralcoref reads `spacy>=2.1.0` so if you've installed spaCy 2.1.7 from source, that shouldn't conflict.

[2019-08-08 20:35] jonathankingfc opened #194 "SpaCy NER and NeuralCoref picking up different spans"
I am attempting to use spaCy NER in combination with neuralcoref to link entities (specifically people) together. I am having an issue because they are picking up different spans.

For example, the sentences:
William Shakespeare (bapt. 26 April 1564 – 23 April 1616)[a] was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's greates

[2019-08-15 10:45] honnibal commented on #158
The `--no-binary` flag will tell pip to install the `sdist`, rather than the binary wheel. The problem is that the `sdist` of a Cython package like neuralcoref isn't *really* the source: it already has some compilation --- the Python-to-Cython processing stage.

The problem is that the sdist includes .cpp files that were generated using the .pxd files of a particular spaCy version. These are basic

[2019-08-15 16:57] MRocholl commented on #158
That fixes it for me.

[2019-08-15 20:21] tnmcneil commented on #181
I am having the same problem - For me it can differentiate between male and female gendered pronouns but if I introduce a second male it resolves it to the first reference.

ex with the same code and using doc._.coref_resolved on the following text:
[code]
I get the resolved output:

[code]
so not only does it resolve all male pronouns to Frodo, it actually resolves the new entity Jeremy to be Fro

[2019-08-16 06:04] khadkechetan commented on #189
Thanks. It worked.

[2019-08-16 11:30] Heatherse opened #195 "bug"

[2019-08-18 09:10] #195 closed

[2019-08-18 09:52] will-wiki opened #196 "AttributeError: 'ConllDoc' object has no attribute '_extract_mentions'"
Excuse me, has anyone solved the following problem?
AttributeError: 'ConllDoc' object has no attribute '_extract_mentions'

Cann‘t generate the data of the training model. Does anyone have .npy data under the numpy folder? I want to convert the language to Chinese.

[2019-08-19 08:30] #167 closed

[2019-08-20 03:37] rrrepos opened #197 "support on later versions of spaCy"
Is there any plan/ date to get neuralcoref to work on the latest version of spaCy (ver 2.1.8)? Thanks

[2019-08-20 11:17] #168 closed

[2019-08-23 12:41] #170 closed

[2019-08-24 08:50] #172 closed

[2019-08-24 11:50] #173 closed

[2019-08-26 18:00] jeffxtang opened #198 "Ways to fix incorrect coref resolution?"
`doc._.coref_clusters`  returned from `doc=nlp('Who ate the cake? Was it the cat?')` is `[the cake: [the cake, it]]`, with the default greedyness value of 0.5. For larger values, the correct reference to "who" still can't be returned.

What're some possible ways to fix this kind of problem? Thanks!

[2019-08-27 06:29] #174 closed

[2019-08-27 12:51] #176 closed

[2019-08-30 02:53] sent1nel commented on #158
Does not fix the issue for me. Going to try to build from sources...

[2019-08-31 08:40] rrrepos opened #199 "Parameterising Coref Resolution"
Currently, the `doc._.coref_resolved` replaces all cluster objects with the head object. As an enhancement, would it possible to have the replacement only for some tagger properties (e.g. `pos_` or `dep_` or `tag_` so that we can apply our own filters (e.g. pos_ == "PRON"). Something like that. Thanks

[2019-09-03 15:45] #177 closed

[2019-09-07 02:40] #178 closed

[2019-09-07 16:01] #179 closed

[2019-09-10 10:53] subhobrata opened #201 "ImportError: cannot import name 'Coref'"
Hi,

I am doing following in Google Colab from below spacy site
https://spacy.io/universe/project/neuralcoref

!pip install neuralcoref

from neuralcoref import Coref

coref = Coref()
clusters = coref.one_shot_coref(utterances=u"She loves him.", context=u"My sister has a dog.")
mentions = coref.get_mentions()
utterances = coref.get_utterances()
resolved_utterance_text = coref.get_resolved_utteranc

[2019-09-10 21:18] harelhan commented on #166
I am also facing the same issue. Please help!

[2019-09-12 05:11] raj5287 opened #202 "Runtime Warning and Kernal dies"
HI
I am getting this runtime warning and the kernal dies after that :

[code]
while running in terminal I can see this : `Segmentation fault (core dumped)` with the above lines
I am usnig spacy 2.1.8 and python 3.7 in jupyter

[2019-09-12 06:28] raj5287 commented on #202
the issue is with the latest spacy version i.e. 2.1.8. I have tried with spacy 2.1.0 and it is working fine.

[2019-09-12 06:28] #202 closed

[2019-09-16 12:34] fhamborg commented on #158
getting the same error, installed spacy and neuralcoref as follows:
[code]

i also tried the "fix description" from neuralcoref's readme - error is identical though:
[code]

this is the error i'm getting:
[code]

[2019-09-16 13:43] sent1nel commented on #158
@fhamborg did you try compiling manually neuralcoref?

[code]

[2019-09-16 13:55] fhamborg commented on #158
yes, i tried that, too, but got dependency issues with other packages in the realm of pandas, numpy and the like. i managed to circumvent the issue by not using conda on python 3.6 but plain pip on python 3.5 for spacy. what works for me (just posting this here in case others have a similar issue and use maybe similar data science/ML packages - so it's partially off topic):
[code]

[2019-09-17 10:31] codewpf commented on #103
Same problem as BvdM0 and CHengYJon.

spacy 2.1.8
Python 3.7
neuralcoref 4.0

[2019-09-17 13:38] gorqkop commented on #167
Same with Spacy 2.1.8

[2019-09-17 16:21] mmxgn commented on #167
Installing neuralcoref from source fixed it for me using Spacy 2.1.8

[2019-09-18 11:59] fhamborg commented on #82
I also have this issue on the most recent neuralcoref version

[2019-09-18 19:45] harelhan commented on #154
Not sure if the issue has been fixed but I am still getting a similar error.

"TypeError: can not serialize 'spacy.tokens.span.Span' object"

[2019-09-19 04:04] #164 closed

[2019-09-23 09:41] svlandeg commented on #197
Yes, the plan with @honnibal and @ines is to help @thomwolf maintain this awesome spaCy extension and to make sure it can stay in-sync when there are new releases for spaCy. No timeline yet, but stay tuned ;-)

For now, you can work with neuralcoref and spaCy 2.1.8 if you build both from source, cf. https://github.com/huggingface/neuralcoref/issues/158#issuecomment-514534252.

[2019-09-23 09:42] ameyn21 commented on #183
Hi,
I tried the 'One directory' as well as the "Onefile" packaging but nothing works.

[2019-09-23 09:55] svlandeg commented on #158
Closing this as a solution is provided (either downgrade `spaCy `or install both `spaCy` and `neuralcoref` from source). The underlying issue of having up-to-date releases with the latest version of `spaCy` is merged with Issue #197

[2019-09-23 09:55] #158 closed

[2019-09-23 10:01] fhamborg commented on #158
IMO that's neither a fix nor solution but just a workaround. For instance, if one needs to use functionality provided just in spacy's more recent versions (>2.1.0), there's currently not way to use neuralcoref, too. Installing both neuralcoref and spacy from source did not help me, the only workaround was to use spacy on 2.1.0

[2019-09-23 10:09] svlandeg commented on #158
Hi @fhamborg : that's odd, because I can definitely install both from source and work with spaCy 2.1.6 and neuralcoref 4 in the same env, and others have confirmed the same above. If you're still running into issues, feel free to open a new issue and post a log of your console commands & error trace.

I agree with you though that this workaround is not ideal. We will be looking into a more streaml

[2019-09-23 10:24] svlandeg commented on #201
Hi @subhobrata , I think that code is outdated. Could you try following neuralcoref's [readme ](https://github.com/huggingface/neuralcoref#loading-neuralcoref) instead:

[code]

[2019-09-23 10:31] svlandeg commented on #182
Thanks for the report @kjaquier ! Reopening this as this is functionality you'd expect to work. Might be the fix is needed within spaCy though - will look into this.

[2019-09-23 10:32] svlandeg commented on #201
See also Issue #91.

[2019-09-23 10:32] #201 closed

[2019-09-23 11:54] StrangeTcy commented on #103
Same problem as well:

spacy 2.1.8
python 3.6.8
neuralcoref 4.0

[2019-09-23 13:16] Berrougui opened #203 "training new language(French)"
How can I get data like the English forme (there is any tool to do that) ?

[2019-09-23 20:51] svlandeg commented on #192
Hi @Aya-S : this seems related to [spaCy's en_pytt_bertbaseuncased_lg model ](https://spacy.io/models/en#en_pytt_bertbaseuncased_lg )rather than to the neuralcoref plugin?

I will close it here but feel free to open an issue on the [spaCy issue tracker](https://github.com/explosion/spaCy/issues). When you do, make sure to include the details of your environment by pasting the output of `python -m

[2019-09-23 20:51] #192 closed

[2019-09-23 20:57] BramVanroy commented on #187
Bump. Not fixed.

[2019-09-24 07:02] svlandeg commented on #189
As a workaround for the incompatibility issue, you can indeed either downgrade spaCy to 2.1.0, or [build neuralcoref from source](https://github.com/huggingface/neuralcoref#install-neuralcoref-from-source) if you want to use a more recent version of spaCy.

We plan on keeping the releases of neuralcoref and spaCy more in-sync in the future. Merging this with Issue #197.

[2019-09-24 07:02] #189 closed

[2019-09-24 07:04] svlandeg commented on #202
As a workaround for the incompatibility issue, you can indeed either downgrade spaCy to 2.1.0, or [build neuralcoref from source](https://github.com/huggingface/neuralcoref#install-neuralcoref-from-source) if you want to use a more recent version of spaCy.

We plan on keeping the releases of neuralcoref and spaCy more in-sync in the future. Merging this with Issue #197.

[2019-09-24 07:06] svlandeg commented on #201
I've also fixed the outdated documentation at spaCy's universe, cf https://github.com/explosion/spaCy/pull/4317.

[2019-09-24 07:08] svlandeg commented on #190
Happy to see you got it working! Also, I've fixed the outdated documentation at spaCy's universe to avoid confusion, cf https://github.com/explosion/spaCy/pull/4317.

[2019-09-24 07:22] svlandeg commented on #163
Reopening as I think this could indeed be a useful feature!

[2019-09-24 10:51] svlandeg commented on #166
Could you check whether you're still encountering this behaviour when you downgrade spaCy to 2.1.0 ?

Alternatively, if you need a newer version of spaCy, install that first and then [build neuralcoref from source](https://github.com/huggingface/neuralcoref#install-neuralcoref-from-source). Does that solve the issue?

[2019-09-24 10:58] svlandeg commented on #167
Thanks for the reports. For now the workaround is indeed to either downgrade spaCy, or to install neuralcoref from source. In the future, we'll try to keep this plugin more in-sync with spaCy, cf Issue #197.

[2019-09-24 11:00] svlandeg commented on #164
Merging with Issue #197

[2019-09-24 11:06] svlandeg commented on #103
This is an old thread, and already closed, but for anyone coming here from a search engine:

As a workaround for the incompatibility issue, you can either downgrade spaCy to 2.1.0, or [build neuralcoref from source](https://github.com/huggingface/neuralcoref#install-neuralcoref-from-source) if you want to use a more recent version of spaCy.

We plan on keeping the releases of neuralcoref and spaCy

[2019-09-24 15:23] amandalmia14 commented on #166
@svlandeg Its working perfectly on spaCy to 2.1.0.

I didn't build, so can't comment on that.

[2019-09-24 18:39] floraliu1011 commented on #58
I am using en and I also got this problem

[2019-09-25 15:11] svlandeg commented on #187
Hi @BramVanroy , most of the data is moved to https://github.com/huggingface/neuralcoref/tree/master/neuralcoref/train which holds `conllparser.py`. I'm preparing an update of the documentation to reflect these changes.

The `skeleton2conll.sh` is part of the `conll-2012` download, in the folder `v3\scripts`. If there were ever modified versions of this script, I think that may have indeed be dele

[2019-09-25 15:15] svlandeg commented on #185
You just need to read all text from your file and store it in a variable, let's say the variable is called `text`, and then call `doc = nlp(text)`, exactly as you would for one or two sentences.

[2019-09-25 15:15] #185 closed

[2019-09-25 15:23] svlandeg commented on #183
I'm not sure if this is specific to `neuralcoref`. Have you looked into the potential solutions as described [here](https://stackoverflow.com/questions/51417764/when-using-pyinstaller-got-error-has-no-attribute-reduce-cython)? Either way you may have more luck finding help on StackOverflow for this kind of issue...

[2019-09-25 15:39] svlandeg commented on #183
Continuing this discussion [here](https://stackoverflow.com/questions/57175603/has-no-attribute-reduce-cython-error-when-using-pyinstaller-exe/57177165#comment102595427_57177165).

[2019-09-25 15:39] #183 closed

[2019-09-26 09:36] svlandeg commented on #180
I think the `doc` is the logical unit for processing, also in the core `spaCy` library you'd make predictions per `doc` and never across. The iterative adding of information from chatbots is an interesting use-case though. It would be cool if you could add sentences to a `doc` and tell the neural coref module to only parse those without prior annotations, but either way it's going to have to look

[2019-09-26 09:40] svlandeg commented on #179
That's not readily available, no. You'd have to retrain the module with annotated data in German. You can read a little more about this in [Thomas' blog post](https://medium.com/huggingface/how-to-train-a-neural-coreference-model-neuralcoref-2-7bb30c1abdfe).

[2019-09-26 09:44] svlandeg commented on #178
The "bad escape" error does seem to point to incompatible models in spaCy. You can verify this by running `python -m spacy validate` (see [here](https://spacy.io/api/cli#validate)).

The "binary incompatibilty" warning points to an incompatibility between spaCy and neuralcoref. If you can downgrade spaCy (and its models!) to 2.1.0 that error should be resolved. If you like to use a more recent ver

[2019-09-26 13:51] michelleful commented on #180
I briefly looked at the Cython code back in July and based on that, thought that a viable approach might be to have a higher-order class which stores the coref clusters already found and whatever aspects of each entity in the coref cluster (or the last-mentioned entity in the coref cluster) are necessary to compute the feature vectors.

Then for each new `Doc` extract the new entities and do the p

[2019-09-28 20:15] tuomastik opened #204 "FileExistsError when making NEURALCOREF_MODEL_PATH"
I'm getting the following error when running a Docker container that uses gunicorn with multiple workers to serve a Flask app that uses neuralcoref.
[code]
This StackOverflow post seems to deal with the same issue: [Python “FileExists” error when making directory](https://stackoverflow.com/questions/12468022/python-fileexists-error-when-making-directory)

[2019-09-29 09:32] svlandeg commented on #204
Thanks for the report! Do you think this could be fixed by adding `exist_ok=True` to the `mkdirs` call?

[2019-09-29 17:38] svlandeg commented on #204
Feel free to submit a PR with the fix!

[2019-09-30 06:35] tuomastik commented on #204
Just submitted the PR. I was trying to systematically reproduce the error with a simpler app, but the error happened only every now and then. I guess the error needs perfect timing from all the workers trying to create the directory at the same time.

[2019-10-02 10:03] ewindchung commented on #166
I have the same problem. spaCy 2.1.8. python 3.7

[2019-10-02 11:03] amandalmia14 commented on #166
@ewindchung It works perfectly on 2.1.0 version of spaCy  on python 3.7 environment.

[2019-10-02 11:25] svlandeg commented on #166
Merging with Issue #197

[2019-10-02 11:25] #166 closed

[2019-10-02 13:00] amandalmia14 commented on #166
@svlandeg Thanks for merging :)

[2019-10-02 16:14] ewindchung commented on #166
@amandalmia14 Thanks. It works perfectly now.

[2019-10-02 19:25] anandhperumal opened #206 "Unknown morphological feature"
Code
[code]

Output:
[code]
en-core-web-sm version 2.2.0

let me know if I'm missing anything

[2019-10-02 19:29] anandhperumal commented on #206
It's working as expected.
My code had a bug

[2019-10-02 19:29] #206 closed

[2019-10-02 19:35] anandhperumal opened #207 "Program crashes"
when i try to run the following code, the terminal crashes

[code]

verified it in Colab even in  that session crashes.

[2019-10-03 02:36] WillBoan commented on #82
I've had this issue too, while trying to call `doc_bytes = doc.to_bytes()`

[2019-10-03 02:37] WillBoan commented on #154
I've had this issue too, while trying to call doc_bytes = doc.to_bytes()

[2019-10-03 06:57] svlandeg commented on #207
Thanks for the report! What are the versions of `spacy` and `neuralcoref` you're using?

[2019-10-03 21:14] mmaybeno commented on #206
For context... I had this error as well. My spacy version was different than the model version (2.2.0 & 2.1.0) which caused it to fail. Updating the model fixed it.

[2019-10-04 15:05] jdefolter commented on #154
Same issue, reproducible using above code.

Python: 3.6
OS: Windows 10 64-bit
Neuralcoref: 4.0 (installed today)
Spacy: required downgrade to 2.1.0, matching en model versions

[2019-10-09 05:37] shelnee commented on #206
Can anyone tell me how to update the model version?

[2019-10-09 05:49] mmaybeno commented on #206
Do the normal download of the model you have. For example:
`python -m spacy download en_core_web_sm`

[2019-10-09 17:19] npow commented on #207
I ran into this as well. I'm running Python 3.6.6 on OSX.
[code]

[2019-10-09 20:17] skrunt7 commented on #206
I am running into the same problem.  I redownloaded the model and am using 2.2.0 but still having an issues.  Spacy is 2.2.1 so I even moved it back to 2.2.0 to see if that was the issue but it still fails when it tries to tag a person.  Is anyone else still seeing this even after redownloading the model?

[2019-10-09 22:10] svlandeg commented on #207
The solution is to either downgrade spaCy, or build neuralcoref from source. Merging with #197

[2019-10-09 22:10] #207 closed

[2019-10-10 14:47] cbiehl opened #208 "Error during scoring due to incorrectly formatted test_mentions.txt file"
I am trying to re-train the model. I successfully extracted the CoNLL / OntoNotes data following the training instructions and set the `use_gold_mentions` parameter to true in the [conllparser.py](https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/train/conllparser.py#L309) script. I experienced an issue in the function [build_and_gather_multiple_arrays](https://github.com/huggingf

[2019-10-11 19:14] saurabhhjjain commented on #141
Latest version is not working. I got following error:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/data/saurabh/neuralcoref/neuralcoref/__init__.py", line 14, in <module>
    from .neuralcoref import NeuralCoref
  File "neuralcoref.pyx", line 111, in init neuralcoref.neuralcoref
TypeError: must be char, not unicode

[2019-10-13 13:50] swicaksono opened #209 "Error installation using spaCy from source code"
I got an error when tried to install neuralcoref using spaCy which I install via source code. I modified the neuralcoref/neuralcoref.pyx to import spacy from the path I was installed the spaCy instead from the library. The following error was the cython module. In fact, the cython was correctly installed as well as the spaCy from the source.

Any help? Thanks.

[2019-10-13 19:33] svlandeg commented on #209
Hi @swicaksono , can you try downgrading spaCy to 2.1.0. and check again?

If it still doesn't work - could you provide the details of your installation (+ version numbers of spaCy and neuralcoref) and the exact error you're getting?

[2019-10-14 07:47] svlandeg commented on #203
You can find some instruction on training for a different model here: https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/train/training.md#train-on-a-new-language

[2019-10-14 07:47] #203 closed

[2019-10-14 08:36] swicaksono commented on #209
So my project folder structure is like this.

[code]
In the README installation guidelines, we install spaCy by using pip, on this occasion, I want to install it from source. So before run the

[code]

I modified the [neuralcoref.pyx](https://github.com/huggingface/neuralcoref/blob/master/neuralcoref/neuralcoref.pyx) to read the spacy from the path I install it by adding theses lines before import

[2019-10-15 12:04] svlandeg commented on #193
Hi @ITonly, can you give a bit more detail on which code you were executing exactly, and where you run into memory issues?

Unfortunately I personally don't have experience with retraining this for Chinese.
Have you been able to solve it in the meantime with more RAM?

[2019-10-15 12:22] svlandeg commented on #193
Also - this is probably a stab in the dark - but just to make sure: are you running the code from a console directly or from within an IDE? (the latter may be restricting your memory usage)

[2019-10-15 12:23] kameshtj opened #210 "Python quit unexpectedly while running scripts"
First I installed neuralcoref and its dependencies using pip in my global python environment..
When I run the script containing

import spacy
import neuralcoref

nlp = spacy.load('en')
neuralcoref.add_to_pipe(nlp)
doc1 = nlp('My sister has a dog. She loves him.')
print(doc1._.coref_clusters)

doc2 = nlp('Angela lives in Boston. She is quite happy in that city.')
for ent in doc2.ents:
    print(ent

[2019-10-15 12:55] svlandeg commented on #210
When you tried installing from source, did you first run `pip install -r requirements.txt` in a **clean** environment?

[2019-10-15 13:07] svlandeg commented on #208
Hi @cbiehl , I ran into similar issues with `use_gold_mentions=True`. Perhaps this comment is useful:
Issue #160, but I haven't been able to check this yet.

For now I'm trying to fix the training with `use_gold_mentions=False`, which requires fixing the non-existing call to `self._extract_mentions` (Work in progress: PR #211 - any feedback welcome)

[2019-10-15 14:30] tylerjthomas9 commented on #210
I have a very similar issue when trying to run neuralcoref in google collab. The kernel instantly crashes when creating a doc object with neuralcoref added to the nlp pipeline.

[code]

[2019-10-15 14:32] svlandeg commented on #210
What are the versions of spaCy and neuralcoref you're using ?

[2019-10-15 14:36] tylerjthomas9 commented on #210
spacy = 2.1.8
neuralcoref =4.0

[2019-10-15 14:38] svlandeg commented on #210
Ok so you'd need to either downgrade spaCy to 2.1.0, or keep spaCy as-is but build neuralcoref from source. See also #197

[2019-10-15 14:56] svlandeg opened #212 "MemoryError in conllparser.py"
Running into memory issues with the `conllparser.py`
For the (english) development data, `conllparser.py --path ../../data/dev` works fine, but it crashes on the training data with `conllparser.py --path ../../data/train`:

[code]

[2019-10-15 17:50] masonedmison commented on #209
Hi, I am having a similar error when trying to install nueralcoref from source.
At same step of `pip install -e . `  and with the `cython.py` script

My source code versions:
**Spacy**: 2.2.1
**nueralcoref**: _well not installed yet as its failing on the pip command above, but the version I am attempting to install is-_ 4.0

Full stack trace:
[code]

[2019-10-15 18:54] cbiehl commented on #208
Hi @svlandeg, #160 solved my problem, thanks a lot! I will have a look at the PR.

Just for completeness:
I also had to change `loss.data[0]` to `loss.item()` (I am on torch version 1.2.0, should be necessary from torch version 0.5 onwards because of the [merge of Variable and Tensor](https://pytorch.org/docs/stable/autograd.html#variable-deprecated) according to [PyTorch \#6061](https://github.co

[2019-10-15 19:15] svlandeg commented on #208
@cbiehl : great to hear that solves your problem, and thanks for the additional pointers! I'll work those into a PR to update the code (unless you want to go ahead?)

[2019-10-15 19:17] svlandeg commented on #160
@rupimanoj : thanks for the report!

Sorry for the late response. I haven't checked myself yet, but this fixes an issue discussed in #208 :-)

[2019-10-15 19:29] cbiehl commented on #208
I can open a PR, I could also include for some other cases of deprecations with torch>=0.5 if compability with torch==0.4.0 is not a requirement.

[2019-10-15 19:31] svlandeg commented on #208
I think that's fine if you set a version in `requirements.txt` accordingly!

[2019-10-15 22:17] svlandeg commented on #208
Original issue fixed by PR #213 - thanks @cbiehl and @rupimanoj !

@cbiehl : if you would like to address the Torch changes for the training part, feel free to do in a separate PR!

[2019-10-15 22:17] #208 closed

[2019-10-15 22:18] svlandeg commented on #160
Issue addressed by PR #213 - thanks @cbiehl and @rupimanoj !

[2019-10-15 22:18] #160 closed

[2019-10-15 22:27] svlandeg commented on #212
If I set `use_gold_mentions=True`, this `MemoryError` doesn't happen.

[2019-10-16 05:11] kameshtj commented on #210
I tried downgrading spacy from spacy==2.2.0 to 2.1.0. This solves the issue. Thanks for your help.

[2019-10-16 07:18] #210 closed

[2019-10-16 07:54] svlandeg commented on #193
One more suggestion: could you try setting `use_gold_mentions=True` (see related Issue #212)

[2019-10-16 08:39] svlandeg commented on #177
Hi @dtsonov, thanks for the report and sorry for the delay in answering.

We're currently fixing some of the pre-processing steps, cf. PR #213 and PR #211.